[2014-06-16 06:03] marcioAlmada opened #7 "Roadmap"
Provide a roadmap / TODO list so community can help :)

[2014-06-17 07:42] stof opened #9 "Output in PackageXmlParser"
Currently, the PackageXmlParser does some output with `echo`. If this output is intentional rather than being debugging stuff, I think it should rely on the OutputInterface of the console component instead. This would make thing easier when integrating Pickle with other tools as the output could be catched more easily if needed

[2014-06-17 08:20] #9 closed, assigned to nobody

[2014-06-17 13:05] banago opened #11 "Marketing: 30 seconds for everyone"
I made a post about pickle at [Reddit](http://www.reddit.com/r/PHP/comments/28aikk/pickle_php_extension_installer/) and one of the commenter addressing an advanced PHP user who compiled extensions himself said:

So I suggest pickle adopts the **30 seconds for everyone** mantra. Marketing can help with faster and wider adoption, which is what I hope for this great project.

[2014-06-17 13:40] Hywan opened #12 "Explanation about a comment"
Hello :-),

Can we have some explanation about this comment please https://github.com/pierrejoye/pickle/blob/master/src/Package.php#L182 ? Would be great to know the format of both subjects.

[2014-06-17 13:45] Hywan opened #13 "Why $p = null?"
…in https://github.com/pierrejoye/pickle/blob/master/bin/createphar.php#L45?

[2014-06-18 03:35] #11 closed, assigned to nobody

[2014-06-18 08:57] #12 closed, assigned to nobody

[2014-06-18 12:34] #13 closed, assigned to nobody

[2014-06-20 16:37] pierrejoye opened #19 "test failing on windows"
[code]

[2014-06-21 18:01] #19 closed, assigned to nobody

[2014-06-23 21:38] kmiller68 opened #21 "HHVM Extension Support"
HHVM is currently planning on using Composer as a supported extension installer. I noticed in https://github.com/composer/composer/pull/2898 that Composer is considering using Pickle as a plugin to install extensions. The HHVM extension installation process is pretty similar to PHP. Has there been any consideration for HHVM Pickle support or collaboration with HHVM?

[2014-06-26 21:54] pborreli opened #31 "[Insight] The composer.json file should not raise warnings"
**[in composer.json](https://github.com/FriendsOfPHP/pickle/blob/master/composer.json#L0)**

---

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/7e153d04-79be-47e6-b2ee-60cdc2665dd5/analyses/1)_

[2014-06-26 22:00] #31 closed, assigned to nobody

[2014-06-26 22:06] pborreli opened #34 "[Insight] Source code should not contain FIXME comments"
**[in src/BuildSrcUnix.php, line 172](https://github.com/FriendsOfPHP/pickle/blob/master/src/BuildSrcUnix.php#L172)**

[code]

---

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/7e153d04-79be-47e6-b2ee-60cdc2665dd5/analyses/3?status=violations)_

[2014-06-26 22:06] pborreli opened #35 "[Insight] Code should not be duplicated"
**[in src/Console/Command/ArchiveCommand.php, line 37](https://github.com/FriendsOfPHP/pickle/blob/master/src/Console/Command/ArchiveCommand.php#L37)**

[code]

---

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/7e153d04-79be-47e6-b2ee-60cdc2665dd5/analyses/3?status=violations)_

[2014-06-26 22:07] pborreli opened #36 "[Insight] PHP code should follow PSR-1 basic coding standard"
**[in src/BuildSrcUnix.php, line 257](https://github.com/FriendsOfPHP/pickle/blob/master/src/BuildSrcUnix.php#L257)**

[code]

---

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/7e153d04-79be-47e6-b2ee-60cdc2665dd5/analyses/3?status=violations)_

[2014-06-26 22:07] pborreli opened #37 "[Insight] Source code should not contain TODO comments"
**[in src/Package.php, line 62](https://github.com/FriendsOfPHP/pickle/blob/master/src/Package.php#L62)**

[code]

---

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/7e153d04-79be-47e6-b2ee-60cdc2665dd5/analyses/3?status=violations)_

[2014-06-26 22:12] pborreli opened #38 "[Insight] Version of dependencies should be fixed"
**[in composer.json](https://github.com/FriendsOfPHP/pickle/blob/master/composer.json#L0)**

---

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/7e153d04-79be-47e6-b2ee-60cdc2665dd5/analyses/3?status=violations)_

[2014-06-26 22:25] pborreli opened #39 "The method raiseError() does not seem to exist"
see https://scrutinizer-ci.com/g/FriendsOfPHP/pickle/issues/master/files/src/BuildSrcUnix.php?selectedLabels%5B0%5D=9&orderField=path&order=asc#inspectioncomment-115029804

[2014-06-26 23:09] #38 closed, assigned to nobody

[2014-06-27 08:08] #21 closed, assigned to nobody

[2014-06-27 08:36] #39 closed, assigned to nobody

[2014-06-27 09:19] #36 closed, assigned to nobody

[2014-06-27 12:58] #7 closed, assigned to nobody

[2014-06-27 22:28] #34 closed, assigned to nobody

[2014-06-28 07:45] pierrejoye opened #48 "main features removed?"
It seems that the main feature of pickle has been removed during the refactoring.

All the existing meta are taken from files like CREDITS. These files should be parsed on every command to verify that they have not been modified since the last operation (or maybe check the files mtime.

This check must be transparent for the developers, they should not worry about whether or not the json file is u

[2014-07-09 17:30] #48 closed, assigned to nobody

[2014-07-09 17:30] jubianchi opened #53 "Automation-friendly command line options"
As described here https://github.com/FriendsOfPHP/pickle/pull/52#discussion_r14723010

[2014-07-10 19:18] pierrejoye opened #55 "phar creation script error"
PHP Fatal error:  Uncaught exception 'UnexpectedValueException' with message 'Iterator ArrayIterator returned a file that could not be opened "pickle.php"' in C:\php-sdk\repo\pickle\script\createphar.php:30
Stack trace:
#0 C:\php-sdk\repo\pickle\script\createphar.php(30): Phar->buildFromIterator(Object(ArrayIterator))
#1 {main}

  thrown in C:\php-sdk\repo\pickle\script\createphar.php on line 30

[2014-07-10 19:23] #55 closed, assigned to pierrejoye

[2014-07-10 22:12] weltling opened #56 "Extensions using same dependencies fail to copy DLLs"
As example - --binary install cairo, after that try to install rsvg. There's an exception:

`[Exception]
  Cannot copy DLL <C:\Users\hako\AppData\Local\Temp\pickle-RSVG\cairo.dll> to <>`

The same would happen also, when trying to install the same extension twice.

[2014-07-11 07:53] #56 closed, assigned to nobody

[2014-07-11 09:30] pierrejoye opened #62 "pickle.phar broken, Hoa still required outside tests?"
Warning: require(phar://C:/php-sdk/repo/pickle/pickle.phar/vendor/hoa/core/Hoa/Core/Core.php): failed to open stream: phar error: "vendor/hoa/core/Hoa/Core/Core.php" is not a file in phar "C:/php-sdk/repo/pickle/pickle.phar" in phar://C:/php-sdk/repo/pickle/pickle.phar/vendor/composer/autoload_real.php on line 57

Fatal error: require(): Failed opening required 'phar://C:/php-sdk/repo/pickle/pickl

[2014-07-11 10:50] #62 closed, assigned to Hywan

[2014-07-11 11:01] pborreli opened #63 "[Insight] Commented code should not be commited"
**[in src/Package.php, line 92](https://github.com/FriendsOfPHP/pickle/blob/master/src/Package.php#L92)**

[code]

---

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/7e153d04-79be-47e6-b2ee-60cdc2665dd5/analyses/56)_

[2014-07-11 11:02] pborreli opened #64 "[Insight] Source code should not contain TODO comments"
**[in src/Package.php, line 81](https://github.com/FriendsOfPHP/pickle/blob/master/src/Package.php#L81)**

**[and in src/Package.php, line 119](https://github.com/FriendsOfPHP/pickle/blob/master/src/Package.php#L119)**

[code]

---

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/7e153d04-79be-47e6-b2ee-60cdc2665dd5/analyses/56)_

[2014-07-11 11:02] pborreli opened #65 "[Insight] Code should not be duplicated"
**[in src/Console/Command/InstallerCommand.php, line 168](https://github.com/FriendsOfPHP/pickle/blob/master/src/Console/Command/InstallerCommand.php#L168)**

[code]

---

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/7e153d04-79be-47e6-b2ee-60cdc2665dd5/analyses/56)_

[2014-07-11 11:03] #64 closed, assigned to nobody

[2014-07-11 11:05] #63 closed, assigned to nobody

[2014-07-11 11:43] pierrejoye opened #66 "add extension version parsing"
Fetch the extension version either from:

- header
- RELEASE file
- package.xml

in this order.

RELEASE will most likely contains 1.3.x or 1.3.4-dev. Implementation has to unify all versions using the header on release/install, before the build.

can be done in 0.2.0

[2014-07-12 07:56] pierrejoye opened #67 "Support for config*.m4"
Some extensions may need a separate config m4 file, f.e. config9.m4. These files should be parsed as well.

ps: anyone remembers why these extra files are needed?

[2014-07-12 10:03] itskevinsam opened #68 "Notice (from src/Package) when doing *info apc* and warning for (File not exists) on "info swoole""
[code]

[2014-07-12 10:08] Sobak opened #69 "Pickle fails to detect extension_dir on xampp (Windows)"
Hello guys,

unfortunately, pickle is unable to properly detect ext. dir on my Windows setup. Here is an error I've got:

[code]

I have no idea why it's detected as "no value". Of course I ensured that it's set in `php.ini`:

[code]

Also, it's not overridden later in the file nor `php -i` output.

[2014-07-12 15:29] #69 closed, assigned to pierrejoye

[2014-07-12 15:34] #68 closed, assigned to pierrejoye

[2014-07-13 18:54] jakoch opened #71 "pickle and pecl-web api"
Hey Pierre, Hey Julien,

i've tested pickle on Windows. It works like charm. :+1:

I took a quick glance at "InstallerBinaryWindows.php". The file uses an scraping approach to determine if an extension exists and which versions it has. Why is scraping preferred over using service functionalities provided by the https://github.com/php/web-pecl repository? I think the PECL website could need some lo

[2014-07-14 07:28] m6w6 opened #72 "Notices on install"
Undefined index: pecl_http in /home/mike/src/pickle.git/src/BuildSrcUnix.php on line 63
Trying to get property of non-object in /home/mike/src/pickle.git/src/BuildSrcUnix.php on line 64

[2014-07-14 09:22] jakoch opened #73 "feature request: install command might support multiple extensions"
Installing multiple extensions at once from the CLI would be nice.

Currently not supported: [RuntimeException] too many arguments

[2014-07-15 08:51] DaveRandom opened #74 "FR: Pass arbitrary configure arguments to pickle install"
A couple of people have expressed to me a desire to do this with `pecl install` in the past - I will try and get a couple of concrete example use-cases.

The general idea being that any argument that is not consumed by pickle should be forwarded on to `configure`. Command line `--with(out)?-.+` and `--(en|dis)able-.+` arguments that conflict with those in the package XML should take precedence.

[2014-07-15 09:40] #74 closed, assigned to nobody

[2014-07-15 17:48] cordoval opened #75 "please remove wiki tab"

[2014-07-18 13:02] #75 closed, assigned to nobody

[2014-07-19 06:33] #72 closed, assigned to pierrejoye

[2014-07-19 10:20] #37 closed, assigned to nobody

[2014-07-19 10:20] #35 closed, assigned to nobody

[2014-07-22 12:41] #53 closed, assigned to weltling

[2014-07-22 12:45] weltling opened #76 "pickle install --source, unclean behavior on windows"
Source install on windows doesn't copy the extension DLL, neither its dependency DLLs, nor does it update the php.ini . This part has to be fixed so the behavior after the source build is identical to the binary install.

[2014-07-22 16:59] weltling opened #77 "pickle install --binary has to fetch the dependency DLLs"
Currently pickle fetches the extension archives from windows.php.net/downloads/pecl/releases . Those archives contain dependency DLLs along with the extension DLL. A better approach is to package the extensions with the extension DLLs only and to fetch the dependency DLLs using the deplister.exe tool.

[2014-07-22 17:03] weltling opened #78 "pickle install --source miss environment checks for Visual Studio, PHP SDK and others"
Currently it's only possible to install from source while being on the right Visual Studio console and forcing all the necessary pass. pickle needs to do the checks for all the environment. It should be able to automatically find correct compiler and accompanying tools, and to setup the correct environment necessary for building an extension from source.

[2014-07-23 09:22] weltling opened #79 "pickle doesn't care about the end of its section in php.ini"
When some data appended after the pickle generated section, the result is unpredictable. We need to implement handling the end of pickle section in php.ini

[2014-07-23 14:59] weltling opened #80 "deplister.exe should be fetched automatically when not available"
On the older PHP versions, the tool deplister.exe wasn't distributed along with releases. In this case, pickle should fetch it automatically. As of now, it's available here http://windows.php.net/downloads/pecl/tools/deplister.exe

[2014-07-24 10:32] #79 closed, assigned to weltling

[2014-07-24 18:55] weltling opened #81 "It should be possible to preserve the build logs"
After the build the build from source, it should be possible to preserve the build logs for the further evaliation.

[2014-07-24 20:02] #67 closed, assigned to nobody

[2014-07-29 07:31] cordoval opened #82 "integration with composer to run upon missing requirement e.g."
I was wondering if there is a planned integration with composer to run pickle to install missing extension requirements. For instance if in [Gush](https://github.com/gushphp/gush/issues/257) composer.json that will use Pimple 3.0.0 one wants to install the C extension for Pimple, I was wondering if pickle could be immediately required to install such an extension automatically?

[2014-07-29 15:45] weltling opened #83 "Support builds of pure sources without any XML or JSON config"
Currently pickle can convert package.xml to the native json format to work with PECL extensions. In some cases, when package.xml and pickle.json are absent, it still could generate pickle.json from several files contained in the extension source dir. Doing so will allow to build such extensions as well.

[2014-07-29 18:32] #83 closed, assigned to nobody

[2014-08-01 09:55] #82 closed, assigned to nobody

[2014-08-06 12:25] weltling opened #84 ""pickle install" acts wrong on imported package.xml when package name != extension name"
For example, when trying

php bin\pickle install pecl_http

it generates the configure option --with-pecl_http=shared while the extension name is "http" and "pecl_http" is the package name.

This is currently reproducable on Windows. The correct behaviour were to use the extension name, not the package name, to generate the configure options.

[2014-08-07 10:11] #84 closed, assigned to nobody

[2014-08-07 12:00] #81 closed, assigned to nobody

[2014-10-04 00:16] stof opened #86 "New release"
The latest release is 0.1.1, and is the version available in the downloadable phar. But big changes have been done since then, and 0.1.1 triggers a fatal error when I try to run `pickle install` in my folder containing the Twig extension. Could you create a new release ?

[2014-10-24 10:13] Seldaek opened #87 "Composer/pickle interop"
A few things to keep in mind to get extension packages working well with composer after discussing with @pierrejoye:
- set package `type` in composer.json to `php-ext`
- set name prefix to `ext-`, e.g. `ext-pdo` where `pdo` MUST be the extension name returned in the extensions_loaded() list
- rename pickle.json to composer.json so ext packages can be loaded as vcs repos in composer etc

(refs comp

[2014-11-28 17:26] Hywan opened #89 "Need a logo"
We need a logo :-). Any idea?

[2014-12-10 13:20] #86 closed, assigned to Hywan

[2014-12-31 18:28] stof opened #91 "Outdated phar"
The phar archive linked in the readme is still the 0.1.1 release. Please update it to the latest release (0.2.0 currently)

[2015-01-04 15:19] #91 closed

[2015-01-04 15:19] Hywan commented on #91
Thanks!

[2015-01-08 10:47] Hywan commented on #89
@jubianchi Any news for the logo?

[2015-01-18 08:25] Hywan commented on #89
@jubianchi Sorry to ping you again :-(.

[2015-01-27 19:23] weltling commented on #80
@pierrejoye thanks to your preliminary implementation, this part is integrated now )

@jakoch deplister.exe is being fetched from windows.php.net when not available. Then there's no reason to increase the pharball size ))

[2015-01-27 19:23] #80 closed

[2015-01-27 19:25] weltling commented on #77
Done, multiple choice will be handled by asking the user now. That could be hardly automated, but were also doable if needed.

[2015-01-27 19:25] #77 closed

[2015-02-23 10:24] Hywan opened #98 "Need a CHANGELOG"

[2015-02-23 10:27] pborreli commented on #98
:+1: http://keepachangelog.com/

[2015-02-23 10:59] stof commented on #98
Each github release has its changelog: https://github.com/FriendsOfPHP/pickle/releases

[2015-02-23 11:03] pierrejoye commented on #98
We could add one to the tags. But given that the release is actually a phar, for most users, does it make sense?

[2015-02-23 11:18] weltling commented on #98
I was suggesting to have one, too. Looking like @Hywan was fishing out the feature list for the release :) IMHO probably easier for one who just looks at the sources, too.

[2015-02-23 11:27] pierrejoye commented on #98
Ah you mean like NEWS?
Makes sense yes :)
On Feb 23, 2015 3:18 AM, "Anatol Belski" <notifications@github.com> wrote:

[2015-02-23 12:50] Hywan commented on #98
@pierrejoye Tags already have a changelog. See https://github.com/FriendsOfPHP/pickle/releases.

[2015-02-23 13:40] jubianchi commented on #98
I think it's easier to have a `CHANGELOG` in the source repository :

* a plain old text file will work everywhere (not only on github).
* contributors will be able to add entries to it by themselves
* it's easier to read when you have a local copy of the repository
* it's readable when you are offline

[2015-02-26 16:34] weltling opened #100 "HHVM support in Pickle"
Per today, the big chunk on the HHVM integration was implemented. However the state is quite rudimentary. For the big part it's about getting sufficient information from HHVM itself.

Currently the install command is worky
`sudo hhvm bin/pickle install https://github.com/vipsoft/hhvm-ext-uuid`
The --verbose option can be used to see what goes under the carpet in case of an error.

The extension li

[2015-03-03 09:42] weltling opened #103 "On windows the type of instllation should be recognized automatically"
Currently, to install on windows from source, --source switch is required. When the switch is not given, defailt in the binary install fetching from windows.php.net/downloads/pecl. This should be implemented in a more automatic way. The content of the delivered package should be recognized and an appropriate installation type (binary or source) should be activated.

[2015-03-05 16:44] clickalicious opened #104 "pickle on windows and build/install extension from source"
@weltling i tried a lot to get pickle running ... followed your recommendations here: https://github.com/clickalicious/php_zopfli/pull/5#issuecomment-76916031

I springcleaned my development system. Removed D:\php-sdk and all content. Created a fresh new clean C:\php-sdk based on source of PHP 5.5.22. Added binaries + build dependencies (following my own guide: http://www.phpfluesterer.de/software

[2015-03-05 19:52] weltling commented on #104
@clickalicious with development package, I meant literally one like here http://windows.php.net/downloads/releases/php-devel-pack-5.5.22-nts-Win32-VC11-x86.zip (choose appropriate variant).

To build just one extension the full PHP source isn't required. An archive like above contains phpize and all the necessary libs, headers and scripts. Of course if there are extra deps, care has to be taken se

[2015-03-05 20:34] pierrejoye commented on #104
The detection part of the tools required to build extension without the full php-src tree will be added, to avoid this kind of cryptic errors :)

btw, here are the general instructions, while phpize method is missing: https://wiki.php.net/internals/windows

[2015-03-06 13:30] clickalicious commented on #104
OK. @weltling Thanks for the detailed response and the details i didn't knew ... Heard about that for the first time. For a longer time the compile process on windows was somewhat "magic" or "voodoo" like ... :) From that time i have a lot of workarounds - pickle seems helping to get rid of it ...

Sure you mean "c:\php\sdk" not "C:\php-sdk"? Cause this is whats referenced in pickle here: https://

[2015-03-19 01:31] pierrejoye commented on #71
Little update:

We won't touch or update pecl.php.net to add the info to make pickle more efficient but create an independent packagist-like application to host the meta for PHP extensions.

Pickle already  works well using pecl.php.net and will continue to do so. But we do not see much points to actually deal with pecl.php.net directly, even less as pickle targets more than only php.net's php.

I

[2015-03-19 16:32] jakoch commented on #71
Thank you for pointing this out, Pierre.
This decision leads away from consolidation and cleanup of pecl.php.net.
So i'm no fan of this decision, but it's an interesting move away from php.net. :)

Why was this decision made?

--- tl;tr --- cut here ---

- It appears to me that nowadays new "PHP.net" sub-projects are created, which tend to avoid the official infrastructure, like the GoPHP7 extensi

[2015-03-24 03:26] pierrejoye commented on #71
Not sure to understand all your points but here is an attempt to clarify the whole thing:

Most if not all meta data are available in the extension codes.

Packagist like model will be a single entry point for all extensions, no matter where and how an extension is maintained.

Pecl.php.net won't be needed anymore, not even to download sources or binaries.

I won't ask to shut pecl.php.net down or

[2015-03-24 03:42] pierrejoye commented on #104
Quick note: pickle puts the extension in the directory defined by extension_dir, the one used to run pickle itself, no magic here :)

[2015-04-01 10:57] jakoch commented on #71
The last few sentences make me feel a bit sad, especially when hearing them from a core contributor. But the situation can't be that worse, because i've seen you doing some cleanup commits over at pecl-web and the composer integration. Thumbs up!

[2015-04-06 05:39] pierrejoye commented on #87
See https://github.com/composer/composer/pull/3897
Working initial integration

[2015-04-07 14:24] tarekdj commented on #89
Result of a developer playing with Adobe Illustrator :smile:
![logo](https://cloud.githubusercontent.com/assets/540268/7025021/3b68324a-dd30-11e4-9f11-4bfc0f5fde26.jpg)

[2015-04-07 14:30] pborreli commented on #89
not bad :+1:

[2015-04-07 14:45] pierrejoye commented on #89
Like it :)
 On Apr 7, 2015 9:30 PM, "Pascal Borreli" <notifications@github.com> wrote:

[2015-04-07 14:51] tarekdj commented on #89
Thx guys!
 I think it's better with less letters height

![logo](https://cloud.githubusercontent.com/assets/540268/7025746/26426746-dd35-11e4-8373-393c5a558f70.jpg)

[2015-04-07 15:49] jubianchi commented on #89
<3 :+1:

[2015-04-08 07:36] Hywan commented on #89
:+1:

Need an SVG export.

[2015-04-08 08:35] willdurand commented on #89
:+1:

[2015-04-08 09:08] tarekdj commented on #89
Work hosted on github: https://github.com/tarekdj/Pickle-Logo

[2015-04-08 11:34] Hywan commented on #89
If everyone is agree, I will merge the logo on the repository.

[2015-04-08 11:54] pierrejoye commented on #89
I have to say go ahead :)
On Apr 8, 2015 6:34 PM, "Ivan Enderlin" <notifications@github.com> wrote:

[2015-04-08 12:00] tarekdj commented on #89
:+1:

[2015-04-08 12:52] Hywan commented on #89
Twitter's logo updated: https://twitter.com/Pickle_PHP.

[2015-04-08 13:15] j0k3r commented on #89
Simple, efficient, nice :+1:

[2015-04-08 16:02] jubianchi commented on #89
@Hywan what about just using the pickle as the logo on Twitter?

The full logo (pickle + text)  seems too small on the timeline.

[2015-04-09 06:51] Hywan commented on #89
@jubianchi Just a pickle is not really in favor of the project, isn't it :-p?

[2015-04-09 08:44] jubianchi commented on #89
@Hywan fair point :)

[2015-04-09 08:48] #89 closed

[2015-04-13 19:20] #71 closed

[2015-04-15 01:36] pierrejoye opened #106 "handling of installed extensions, core or non core"
We need a way to handle a list of installed extensions and provide APIs/Commands to list them, with version.

Core extensions being a total mess, we should create a special list for each PHP major version and list them as, f.e., libxml-5.4.8.

For non core extensions (aka installed separately via pickle or other), list them with the builtin versions. If installed by pickle, store the meta locally

[2015-04-15 06:58] Hywan commented on #106
Is an official core extension list exist?

[2015-04-15 07:19] weltling commented on #106
@Hywan it's `find ext/ -type d -mindepth 1 -maxdepth 1 -exec basename '{}' \;` in php-src, some different between php5 and php7, but shouldn't change often. One probably could save a list for every minor version inside pickle.

[2015-04-27 08:44] pierrejoye opened #107 "update logo"
Update the logo to have the cool new logo we use on pickleweb

[2015-04-27 08:45] pierrejoye opened #108 "implement search"
1. using pickleweb
2. using pecl

[2015-05-04 02:02] pierrejoye opened #109 "Design mistake for meta commands"
Not sure when it happens but commands like info should be engine independent.

For example:

pickle info myext

should display info no matter if the ext is on pecl, only only for hhvm, only php or only for a given php version or higher.

For example, right now, adding support for pickleweb, doing:

pickle info pierrejoye/igbinary

where should be the pickleweb interface implemented?

In ./src/Pack

[2015-05-04 02:03] pierrejoye opened #110 "If not engine specified in composer, default to php"
To support old extension (convert automatically) or extension with a composer.json without the supported engines listed, it should default to PHP

[2015-05-05 04:44] pierrejoye commented on #110
Has to be done on convert as well, so the engine will be present in the generated composer.json

[2015-05-08 17:16] weltling opened #111 "Package version validation isn't happening extensively"
Namely, the versions between composer.json and PHP_EXT_VERSION in the php_ext.h need to match. This is for PHP, however the implementation needs to spread over all the engines an appropriate way.

[2015-05-09 04:04] pierrejoye opened #112 "Incomplete json schema"
We should rely on vendor/composer/composer/res/composer-schema.json instead.

Also introduced a bad bug, stability is not actually a valid property. The stability is actually part of the version string (makes much more sense). See https://packagist.org/about

Stability issue: https://github.com/FriendsOfPHP/pickle/issues/113

[2015-05-09 04:05] pierrejoye opened #113 "stability is not a property"
Stability is not a property but it is part of the version string.

see https://packagist.org/about

[2015-05-09 04:14] pierrejoye commented on #111
Some steps:
* drop version in composer.json
* rmtools should add it
* only PHP_<extname>_VERSION must be used
* Use PHP_<extname>_VERSION to show the command to create the tag & push
* check if the version already exists as tag (remote)

[2015-05-09 05:26] pierrejoye opened #114 "Fetch version from source"
Version should be grabbed from the sources, only. Not even from package.xml.

It requires some refactoring, Package::factory and other areas.

[2015-05-09 11:16] weltling commented on #111
rmtools currently parses the pickle output https://github.com/OSTC/web-rmtools/blob/master/client/include/PickleExt.php#L40 , the zip name is then constructed using that data https://github.com/OSTC/web-rmtools/blob/master/client/script/pickle.php#L119 ... probably it would make sense then to concentrate all the check in pickle - easier to catch bugs, other places can just parse it's output and re

[2015-05-09 22:51] weltling commented on #113
I made some fixed to this for convert and info output, but lets see if more is needed.

[2015-05-09 23:36] weltling commented on #114
Pah, in #113 i did one commit to the convert command just so it works for now. Now, as we go without version in composer.json, the other side of the coin is - the convert command needs to save the stability into the version macro. If we later want to fetch it from there, otherwise it'll get lost.

[2015-05-10 04:52] pierrejoye commented on #114
It does not need to. The stability is part of the version. See the semver
link to packagist.org. this is the whole point :)
On May 10, 2015 6:36 AM, "Anatol Belski" <notifications@github.com> wrote:

[2015-05-10 05:08] pierrejoye commented on #114
VersionParser will provide both version and stability, based on semver definition.

[2015-05-10 05:16] pierrejoye commented on #109
Actually adding a new type did it nicely. Let see how the syntax to install from one source or another works :)

[2015-05-10 05:18] pierrejoye commented on #87
Renaming done.

extension_loaded is not sufficient as some packages provide many extensions. Oci8 for example.

[2015-05-10 05:19] pierrejoye commented on #73
Maybe it could be done using a composer.json instead.

We are working on supporting running pickle using a project composer.json to install the extensions defined as requirements.

[2015-05-13 04:51] pierrejoye opened #115 "pickle <command> <somedir>"
for example:

pierre@jessie:~/project/pickle/pickle$ bin/pickle info .

  [Exception]
  Couldn't parse the version defined in the PHP_PICKLE_VERSION macro

info [--tmp-dir="..."] [path]

it should first see if there is actually an extension before checking the version. For example, running from the picke directory, the composer.json already says that it is not an extension package.

[2015-05-13 05:39] #115 closed

[2015-05-13 07:39] pierrejoye opened #116 "test fails"
=> Pickle\tests\units\Package\PHP\Util\XML\Loader::testParse():
==> Error CATCHABLE FATAL ERROR in /home/pierre/project/pickle/pickle/tests/units/Package/PHP/Util/XML/Loader.php on unknown line, generated by file /home/pierre/project/pickle/pickle/src/Package/Util/Header/Version.php on line 16:
Argument 1 passed to Pickle\Package\Util\Header\Version::__construct() must be an instance of Pickle\Bas

[2015-06-03 17:47] gena01 opened #118 "Add support for generating an RPM spec file for a package."
Add support for generating a spec file that is then used to build an RPM for a Pecl package.

[2015-06-04 17:04] weltling commented on #116
This test should have been fixed earlier, but even not sure where. Another test was failing for me, in the same file.

[2015-06-04 17:04] #116 closed

[2015-06-17 00:33] pierrejoye commented on #118
It is on the todos list, once we reach stable. Fedora, rh or debian-like distros are on the list.

[2015-06-22 00:19] pierrejoye commented on #118
Also PR welcome. The days where I dealt with RPM generations are way behind me :)

[2015-07-06 06:49] Hywan opened #119 "Preparing next release"
Hello :-),

I would be glad to release a new version but what is the current state? Do we need to wait on some bug to be fixed before the release?

[2015-07-06 06:52] Hywan commented on #109
Can we close this issue?

[2015-07-06 06:52] #108 closed

[2015-07-06 06:52] Hywan commented on #107
I reckon we can close this issue :smile:?

[2015-07-06 06:53] Hywan commented on #104
State of this issue?

[2015-07-06 07:14] weltling commented on #104
Yeah, thanks for the ping ... the issue about the prefix was fixed short after the report in march http://git.php.net/?p=php-src.git;a=commitdiff;h=6b643f0741e59fb2473e23c0ead6715b661845b1 , so it's in 5.5+. The main topic is already reported to have been solved, anyway.

Thanks.

[2015-07-06 07:51] pierrejoye commented on #107
Do we use the ascii/ANSI version of the new logo now?
On Jul 6, 2015 1:53 PM, "Ivan Enderlin" <notifications@github.com> wrote:

[2015-07-06 08:08] Hywan commented on #107
No idea :-).

[2015-07-06 08:12] pierrejoye commented on #107
Can be seen using the pickle command line and compared with the new logo.
So no, we do not use the new one in the console tool :)
On Jul 6, 2015 3:08 PM, "Ivan Enderlin" <notifications@github.com> wrote:

[2015-07-06 08:12] Hywan commented on #107
So…

[2015-07-06 08:14] pierrejoye commented on #107
Did you commit the new logo? Or am I missing something? This bug is about
getting the new logo in the pickle tool instead of what we use now :)

On Mon, Jul 6, 2015 at 3:12 PM, Ivan Enderlin <notifications@github.com>
wrote:

--
Pierre

@pierrejoye | http://www.libgd.org

[2015-07-06 08:15] Hywan commented on #107
:stuck_out_tongue:

[2015-07-29 20:22] pierrejoye commented on #110
I think it is fixed now?  @weltling ? :)

[2015-07-29 20:23] pierrejoye commented on #104
so it is solved? @weltling ?

If yes, please close this issue :)

[2015-07-29 20:29] weltling commented on #104
@pierrejoye yeah, the issue with creating the install dir was fixed in the mentioned commit.

[2015-07-29 20:29] #104 closed

[2015-07-29 21:05] weltling commented on #110
Nope, it seems not to be fixed. And I somehow haven't check this issue before ( ... While defaulting to PHP can be done, what I see in the composer docs https://getcomposer.org/doc/04-schema.md - there's no exact entry under which we can list the engine, it only allows PHP version.

But also now in particular, as pickle has 5.4 dependency - that's what is held. It might not know the correct PHP pa

[2015-07-30 07:32] Hywan opened #122 "Build is broken"
\o/

[2015-08-11 16:21] DominikTo opened #123 "Permission issue when running pickle install"
When running e.g. `pickle install gearman`, the installation fails with a permission issue.

[code]

Manually creating `/vendor/` (and setting `chown -R myuser:staff /vendor/`) gets rid of that issue, but then pickle fails with:

[code]

**Notes**

* pickle is installed via `composer global require friendsofphp/pickle`.
* This problem might be caused by the "rootless" security feature of OS X 10.1

[2015-08-22 14:16] zhaosih opened #124 "2: configure: error: Cannot find php-config. Please use --with-php-config=PATH"
when use pickle to install ext, always show the title error in log.
the php-config is locate at ./usr/local/php/bin/php-config

[2015-09-02 09:36] #124 closed

[2015-10-19 09:04] pierrejoye commented on #123
I sadly do not have OSX to reproduce it. But how does it work? One can create tmp dir or files but cannot remove it? Sounds weird if that's the case

[2015-10-19 09:05] pierrejoye commented on #122
@Hywan Is that due to php7 test intro?

[2015-10-20 06:35] Hywan commented on #122
Don't know. Will have time soon for Pickle.

[2015-10-23 22:29] tmatsuo opened #125 "What is the license?"
I'm considering to use this tool, but it's not clear to me and it blocks me from using it.

Thanks :)

[2015-10-24 03:05] pierrejoye commented on #125
New BSD.

Totally forgot to add it :)
On Oct 24, 2015 5:30 AM, "Takashi Matsuo" <notifications@github.com> wrote:

[2015-10-24 07:02] tmatsuo commented on #125
No worries. I'd appreciate it if you could add an explicit LICENSE file and ideally license headers in PHP files. Thanks!

[2015-10-24 15:29] pierrejoye commented on #125
Yes, I will asap :)
On Oct 24, 2015 2:02 PM, "Takashi Matsuo" <notifications@github.com> wrote:

[2015-10-26 13:49] #125 closed

[2015-11-09 05:14] teohhanhui opened #129 "PHP7 compatibility"

[2015-11-09 05:56] Hywan commented on #129
Thanks :-).

[2015-11-22 16:14] Swader commented on #123
This happens to me as well when running Pickle inside a Linux VM hosted on OS X.
File and folder creation is not a problem with other libs and packages.

[2015-11-22 16:16] Swader commented on #123
Admittedly, none of those try to create a `vendor` folder in the root of the machine - could this be solved by making Pickle try *its own* vendor folder? So rather than have it try to create:

[code]

it would try with:

[code]

?

Or at least in `~/.pickle` or something.

[2015-11-22 17:21] Swader commented on #123
Ok, so this is the problem:

- `Pecl::fetch` passes a blank instance of `Config` to Composer's downloader when downloading an archive.
- When the `Config` class is used like this, Composer reads the vendor dir from either the environment variable `COMPOSER_VENDOR_DIR` or uses the default option hardcoded in the `Config` class
- The problem with the above is that the config's `get` method has a `$f

[2015-11-22 18:21] jubianchi commented on #123
Agree with @Swader. I'll try to run a debug session during the Forum ;)

[2015-11-24 09:04] jubianchi commented on #129
Can we close this issue since json-schema has been bumped ?

[2015-11-24 09:06] Hywan commented on #129
Yup.

[2015-11-24 09:06] #129 closed

[2015-11-24 13:55] Hywan commented on #123
@DominikTo Hi :-), nice to see you here by the way. Could you try the patch pushed by @jubianchi please? It should fix your issue.

[2015-11-24 15:13] DominikTo commented on #123
Hi @Hywan! :)

I checked out the master branch of pickle, but I am still running in a (slightly different) permission issue on OS X 10.11.

[code]

[2015-12-09 11:35] Spomky commented on #123
Works better with `export COMPOSER_VENDOR_DIR=$(pwd)/vendor; vendor/bin/pickle install crypto-0.2.2;`
But I have another error:

  [stability] Does not match the regex pattern ^alpha|beta|stable$

[2015-12-09 12:46] shouze opened #133 "feature request: install would adopt better version requirement syntax"
For example both `v4.*` & `5.*` of [apcu](http://pecl.php.net/package/APCu) are stable... but of course one is for `php >= 7.0` only.... so for example if you use php 5.6... should be cool to support such a syntax:

[code]

More generally would the composer version requirement code should be used to do that?

[2015-12-09 12:51] pierrejoye commented on #133
This is defined by the composer.json of the requested extensions. Adding it
with the version expression can and will conflict with the version of the
extension itself.

I am not sure if composer allows something to be passed in the cmd line to
tell to grab a version  requiring a minimum php version. @seldaek?
On Dec 9, 2015 7:46 PM, "Sébastien HOUZÉ" <notifications@github.com> wrote:

[2015-12-09 14:53] shouze commented on #133
@pierrejoye ok I was using an old (0.2.0) release so I think I'm up to date now... I didn't understood about this composer.json file you were talking about. I've patched https://github.com/krakjoe/apcu-bc/pull/6 so I've also opened an issue to add a composer.json file to this extension too https://github.com/krakjoe/apcu-bc/issues/7 is that right?

[2015-12-09 15:56] Seldaek commented on #133
As of a month or two ago, composer's VersionSelector class allows you to provide a current php version that the requirement must support to be automatically selected. So this would help here, but anyway to help you more I'd need to see the code and exaclty what you are doing to guess the version when none is provided.

[2015-12-10 09:12] shouze commented on #133
@Seldaek @pierrejoye ok so I'm not so wrong with that PR? https://github.com/krakjoe/apcu-bc/pull/8/files

[2015-12-19 22:31] cmodijk opened #134 "Invalid version string"
I'm trying to install imagick using pickle but i'm getting the following error

[code]

Command used to install `./bin/pickle install imagick`

The version i'm using is the latest checkout 5ad1daf0396174d96d616b8b0b05c0979b85fd7d

[2015-12-29 09:23] Hywan commented on #134
Thanks for the report! We will look at this after the parties ;-).

[2015-12-29 09:28] pierrejoye commented on #134
I am not sure howwe have to deal with that as it is clearly not semver. Without implemeting a version cleanup if composer's version parser failed, it may ignore these releases.

I can imagine (thinking loud) two solutions:

* we ignore these tags or versions
* we parse on error and try again passing a correct version to composer

Also I am not  sure the parsing and second try works as composer wil

[2015-12-29 09:29] Hywan commented on #134
@cmodijk Did you try to install imagick in the past with Pickle?

[2015-12-30 05:26] pierrejoye commented on #133
@shouze looks good :)

You do not need to put the version as it will grab from the tag and the header file. It will also avoid multiple editing or to forget to change one place and get an error (versions mismatch)

[2015-12-30 16:24] cmodijk commented on #134
@pierrejoye No it's not an valid semver but i'm trying to install a stable version and not this specific version. I personally think you could ignore these kind of tags and versions let people define valid semver versins if they want to be able to be installed using Pickle.

@Hywan No i have not tried to install imagick before normally i use pecl to do this but i'm trying to move al of our pecl in

[2015-12-31 14:46] Seldaek commented on #134
IMO ignoring those invalid versions would be a valid way to handle it, that's what we do in composer when a tag can't be normalized we ignore it. People have to stop doing such nonsense as a RC-beta really :)

[2016-01-15 14:49] pierrejoye commented on #122
I think Julien fixed it, thanks!

[2016-01-15 14:49] #122 closed

[2016-01-18 04:49] pierrejoye commented on #123
@DominikTo this is a different issue and cannot be solved as it is not a bug per se.

PHP has an extension directory, defined by extension_dir setting. Unless you define another one, for example your vendor directory and gives it the right permissions, pickle (or phpize, make, make install) will use it.

@Swader @Spomky good catch. Makes totally sense now. I think we should use a temp directory fo

[2016-01-18 04:56] pierrejoye commented on #123
@Spomky for the version pattern, see https://github.com/FriendsOfPHP/pickle/issues/134 with the related discussions, composer devs involved too.

[2016-02-01 10:53] pierrejoye commented on #134
Ok, closing this issue as it is something that should be fixed in the respective package.

[2016-02-01 10:54] #134 closed

[2016-02-01 11:12] umpirsky commented on #134
Same just happened:

[code]

[2016-02-01 11:29] cmodijk commented on #134
@pierrejoye I think pickle should still ignore these versions and not index them like composer is doing

[2016-02-01 11:38] umpirsky commented on #134
Is there any way to force which version I want to install with pickle?

[2016-02-01 11:42] jubianchi commented on #134
@umpirsky `pickle install <extension>@<version>` should work

[2016-02-01 11:45] umpirsky commented on #134
@jubianchi Worked, thanks! :+1:

[2016-02-01 12:01] pierrejoye commented on #134
We should document this trick so users can install old tags or from zip if
desired
On Feb 1, 2016 6:45 PM, "Saša Stamenković" <notifications@github.com> wrote:

[2016-02-01 15:58] weltling commented on #76
Fixed in 111cb93c316121a796c087bd6ce6dd3aa1677b53 and 4 follow up commits. The source builds do now support the actual binary and pickle will also update the corresponding ini.

[2016-02-01 15:58] #76 closed

[2016-02-01 16:22] weltling commented on #65
Thanks for the check. Seems it not relevant anymore, the relevant code slided into src\Package\*\Convey\Command\DefaultExecutor.php, whereby the HHVM is to the big part waiting for some better implementation.

Thanks.

[2016-02-01 16:22] #65 closed

[2016-02-03 14:10] weltling commented on #114
Ok, this was already implemented, i only had to fix how source/binary release behaves. Now, for the source release, the composer.son from the sources will be used. That composer.json doesn't need to have any version information. For the binary release, the version information will be included.

I also adjusted the convert command to not to include the version into JSON. The versions are read from

[2016-02-03 14:10] #114 closed

[2016-02-03 14:17] weltling commented on #113
Checked, seems this can be closed. If there are some issues discovered, another issue can target them.

[2016-02-03 14:17] #113 closed

[2016-02-03 14:43] weltling commented on #112
Removed even appending stability to the version string. It's all should be (or be ommited for stable) in the version string. No need to dump or touch version strings we originally read in from sources or binary meta.

[2016-02-03 14:43] #112 closed

[2016-02-03 14:45] weltling commented on #111
Looks like this is fixed through #113 and #114. The only case where version is present in composer.json is the binary distribution. Otherwise pickle will look for the version string in the extension header.

[2016-02-03 14:45] #111 closed

[2016-02-03 14:51] weltling commented on #66
This is now cleared out with fixes for #111, #112, #113, #114.

[2016-02-03 14:51] #66 closed

[2016-02-03 16:25] weltling commented on #109
@pierrejoye ok, didn't realize you've implemented a new convey type. Actually, if we only limit the syntax vendor/extname to the pickle source, probably it's fine. I'd say this issue is done.

Thanks.

[2016-03-10 13:25] pkruithof commented on #119
ping :)

Since release 0.4.0 there have been 221 commits. I'm currently looking at (finally) replacing pear/pecl for pickle, but I'm not sure if I should use dev-master here (is it stable enough?), or use an old version.

[2016-04-04 09:14] mbrodala opened #142 "Extension installation directory"
Not really an issue but more a question since I'm unable to find an answer:

Where does Pickle install the PHP extensions to?

And related: does Pickle skip the installation if the requested PHP extension is already present?

Background: I'm installing the `intl` PHP extension during our CI builds and since this step alone takes ~1min, I'd like to speed it up e.g. by caching the extension installa

[2016-04-20 10:28] mbrodala commented on #87
Is there any progress here? :-)

[2016-05-16 14:15] bsmith5843 opened #143 "Relative extension dir windows"
Fails to copy if php extension_dir ini setting is relative path on windows

[2016-05-16 14:17] bsmith5843 commented on #143
relative without a ./ , just "ext", it fails

[2016-08-02 10:55] mbrodala opened #145 "Support package.xml versions < 2.0"
It seems like a lot of PHP extensions do not provide a `package.xml` in version 2.0, [e.g. bz2](https://github.com/php/php-src/blob/a006363aeaf90fe00599ab76d06c25dfe2a5feb2/ext/bz2/package.xml) (see [live issue](https://github.com/Shippable/support/issues/2846)).

This prevents installing all of these extensions via Pickle:

[code]

Thus this is the current list of actually installable PHP extensi

[2016-08-02 11:24] weltling commented on #145
Thanks for doing the check. The extensions you list are in the core, they're usually shipped by a distro. As the core extensions are not provided separately in any repositories, they won't be able to be fetched. The PECL command won't fetch them, too. Well, they could be fetched if moved out from the core, but in that case you'll often get some outdated version, except it's a maintained fork. The

[2016-08-02 11:28] mbrodala commented on #145
@weltling So, that means I should check somewhere else instead? How is the exact flow Pickle performs, e.g. when installing "bz2" on an Ubuntu distro? (Or "intl" which seems to work fine.)

[2016-08-02 11:35] pierrejoye commented on #145
Some like zip are in pecl too and have separate releases.

On Aug 2, 2016 6:24 PM, "Anatol Belski" <notifications@github.com> wrote:

[2016-08-02 11:48] mbrodala commented on #145
I see, that's why [intl](https://pecl.php.net/package/intl) works.

[2016-08-02 13:38] weltling commented on #145
Exactly, every distro decides how to deliver the core extensions. Some are available with just a basic PHP package, some are separate packages. If an extension is in PECL, it might be actively maintained with all the bug and security fixes, fe like ext/zip. In other cases, you might get quite an outdated package.

So with the core extensions, relying on the distro packages makes more sense except

[2016-08-02 14:11] mbrodala commented on #145
OK, so if an extension like `bz2` is available neither via PECL nor by distribution package, the latter should be fixed I guess. I'll try that and report back.

[2016-08-02 14:15] pierrejoye commented on #145
You can pass the repository too.

On Aug 2, 2016 9:11 PM, "Mathias Brodala" <notifications@github.com> wrote:

[2016-08-02 14:36] mbrodala commented on #145
@pierrejoye How would that work with [phpenv](https://github.com/phpenv/phpenv)? That's what various environments like Shippable CI use to provide multiple PHP versions.

[2016-09-03 23:04] alexbowers opened #147 "New tag?"
There has been 225 commits since `0.4.0` got tagged, is there anything in particular holding up a `0.5.0` release?

[2016-09-04 18:01] Hywan commented on #147
We have some work we would like to pass on the 0.5.0, for instance green tests.

[2016-09-04 18:07] alexbowers commented on #147
Is there a list of things of varying difficulty that I could contribute to?

On 4 Sep 2016 7:01 pm, "Ivan Enderlin" <notifications@github.com> wrote:

[2016-09-09 16:30] pierrejoye commented on #145
@mbrodala what do you mean? You can run pickle with each php and it should install exts for each of them

[2016-09-12 23:13] dshafik opened #148 "Install Fails with Fresh Install (master)"
Hey,

I installed pickle using:

[code]

And I end up with the following when I run: `pickle install <extension>` (tried libsodium and memcached so far):

[code]

[2016-09-22 08:11] amcsi opened #149 "Unable to install yaml. TransportException (HTTPS?)"
On fresh master

I'm trying to install yaml, but I'm getting this and I have no idea what I can do about it.

[code]

[2016-09-26 07:15] mbrodala commented on #145
@pierrejoye Could you give me an example? Currently it [doesn't work](https://github.com/Shippable/support/issues/2846) for me.

[2017-03-17 16:36] jmikola opened #151 "Version::findHeaders() exception for missing version macro is never used"
While looking into https://github.com/mongodb/mongo-php-driver/issues/562, I trace the "Couldn't parse the version defined in the PHP_MONGODB_VERSION macro" error message down to [`Version::getVersionFromHeader()`](https://github.com/FriendsOfPHP/pickle/blob/b4ff87802c8c7823f3fb08b4f14dfb0b5492e025/src/Package/Util/Header/Version.php#L90). In the same file, I found [`Version::findHeaders()`](https

[2017-03-21 11:28] derickr opened #152 "pickle doesn't respect default configure options"
For the ``mongodb/mongo-php-driver`` extension, pickle does not respect the default option for enabling SSL. In our config.m4, ``--with-openssl-dir`` by default is set to true, but pickle uses ``--without-openssl-dir`` when you use the ``-n`` flag. It also uses ``--without-openssl-dir`` when you just press enter for each of the options without ``-n``:

[code]

[2017-03-21 11:59] Hywan commented on #152
Thanks. I will try to take a look at it!

[2017-05-14 17:09] marcioAlmada commented on #129
The latest phar release still throws this error.

[2017-11-26 23:48] petk commented on #147
Bumping this (sorry in advance). It would be useful to have more tags no matter the stability of current master. I think it is more stable and working better than the `v0.4.0`. Yes/no?

[2018-05-04 18:34] Gamesh commented on #123
I also have the same issue with installation to /usr/lib/php/extensions/no-debug-non-zts-20121212/
the thing is that that folder is protected by mac security and nothing can modify it even root so even sudo chmod or sudo cp does not work.
by default extension_dir is resolved from /usr/bin/php-config
[code]
and you can change that because php-config is also write protected

[2018-06-14 20:54] #147 closed

[2018-06-17 01:02] yangweijie opened #156 "php-src no phpize.js"
![image](https://user-images.githubusercontent.com/1614114/41503698-01c73606-720d-11e8-8152-7e8f9053ee1c.png)
i found phpize.bat. But don't know how generate phpize.js.There is no build/script Directory.

[2018-12-01 11:49] petk opened #157 "Will this be happening?"
Hello, does anyone know is this project still happening? Looks like development got stuck... Should community help here more to move this forward somehow?

[2018-12-03 08:45] Hywan commented on #157
Hello,

We accept any volunteers :-).

[2019-01-21 09:35] jacklul opened #158 "Issue when path to php executable contains space(s)"
Windows.
If the path contains space(s) the script cannot locate PHP correctly, even if the path is given in quotes via `--php` argument.

Everything works fine after putting quotes around `$this->phpCli` in appropriate places (`Engine/PHP.php`).

[2019-03-02 03:57] SerafimArts opened #159 "PHP 7.0+ Compatibility"
Pickle version 0.4.0 (last stable: https://github.com/FriendsOfPHP/pickle/releases)

This is a repetition of this https://github.com/FriendsOfPHP/pickle/issues/129 error that has not yet been repaired.

Error:
[code]

Is it planned to support pickle? Because I can't use PECL because it is not compatible with php 8.0-dev :D

[2019-03-02 09:59] pierrejoye commented on #159
We should report this bug to Json-Shema :)

On Sat, Mar 2, 2019, 10:57 AM Kirill Nesmeyanov <notifications@github.com>
wrote:

[2019-03-02 10:04] staabm commented on #159
I guess we need to update json schema. Pickle depends on ^1.5 but the latest version is 5.x

https://github.com/justinrainbow/json-schema/releases

I guess somewhere in between php7 compat was added

[2019-03-02 16:05] SerafimArts commented on #159
Nope =) As @staabm  correctly said, you just need to update it

[2019-03-04 00:46] pierrejoye commented on #159
even better :))

On Sat, Mar 2, 2019, 11:05 PM Kirill Nesmeyanov <notifications@github.com>
wrote:

[2019-03-31 10:39] #157 closed

[2019-08-09 17:23] leocavalcante opened #162 "Binary not found"
[code]

[I'm pretty sure there is a DLL for ast-1.0.3 and 7.3](https://pecl.php.net/package/ast/1.0.3/windows)

[2019-08-09 17:40] leocavalcante commented on #162
It is failing at [Binary.php#L109](https://github.com/FriendsOfPHP/pickle/blob/master/src/Package/PHP/Command/Install/Windows/Binary.php#L109) because the page is responding with:

[code]

[2020-01-28 06:49] ruudboon commented on #100
I think we can close this one HHVM is not supporting php anymore

[2020-01-28 08:36] ruudboon opened #165 "[BUG] Version mismatch error"
When for example installing Swoole you get the following error:

Version mismatch - 'SWOOLE_VERSION' != '4.4.15' in source vs. XML
Swoole uses `#define PHP_SWOOLE_VERSION SWOOLE_VERSION` probably causing the issue.

Something similar occurs with Xdebug
Couldn't parse the version defined in the PHP_XDEBUG_VERSION macro
I assume that PHP_(package)_VERSION is replaced with (package)_VERSION

[2020-01-28 09:49] ruudboon opened #166 "[Bug]: Ini not updated on Linux / MacOS"
Installed packages aren't enabled in the php.ini on Linux and MacOS.
Looks like this only happening under windows and HHVM.

[2020-01-29 06:31] #100 closed

[2020-01-29 06:37] Hywan commented on #166
I think it is on-purpose. If that happens only for HHVM on Windows, it's probably not a standard feature.

[2020-01-29 06:42] ruudboon commented on #166
Can we choose a standard for this? Enable it for all platforms or disable it by default and have something like a property `--add-extension-to-ini`?

Maybe we can have a look how Pecl is currently solving this so it will be easy for users to switch to to Pickle.

[2020-01-29 07:11] Hywan commented on #166
I think it's better to not touch the `php.ini` file automatically. It's out the boundaries of this tool.

[2020-01-29 07:14] Hywan commented on #165
Can you give me the command lines you run please?

[2020-01-29 07:17] ruudboon commented on #165
[code]

[2020-03-05 01:20] morrisonlevi commented on #166
In my opinion, it is fair game to add new files to the ini scan directory, but modifying files should be a no-no.

[2020-05-19 01:08] salarmehr-cbs commented on #162
Same happens for any thing I tried.

[2020-05-19 23:45] leocavalcante commented on #162
I think this project is abandoned.

[2020-05-19 23:45] #162 closed

[2020-05-20 15:31] salarmehr-cbs commented on #162
@leocavalcante what is the alternative if any?

[2020-05-20 15:38] leocavalcante commented on #162
@salarmehr-cbs personally I didn't found any, I'm downloading and moving the DLLs manually (when not using Docker).
There are some forks fixing this issue, tho, I've one myself: https://github.com/leocavalcante/pickle
I sent a PR but it never got even commented: https://github.com/FriendsOfPHP/pickle/pull/163

[2020-05-23 02:19] pierrejoye commented on #162
For the Error from the website, @weltling  What do you think it is? Or maybe CMB can look at it?

Happy to add a user-agent if that solves the issues.

[2020-05-23 02:20] pierrejoye commented on #162
(IIRC we only fetch these DLLs from standard locations at windows.php.net (or other). We do not host them in any way using pickle, but php.net infra and msft.

[2020-05-23 02:21] pierrejoye commented on #162
@leocavalcante I cannot see your PR tho'

[2020-05-23 03:47] salarmehr-cbs commented on #162
@pierrejoye he has linked his PR. https://github.com/FriendsOfPHP/pickle/pull/163

[2020-05-23 03:48] salarmehr-cbs commented on #162
@leocavalcante but you had also closed that PR?!

[2020-05-23 06:31] leocavalcante commented on #162
Yeah, sorry. I thought it would never happen, then I closed it.

[2020-05-23 08:04] pierrejoye commented on #166
I think we could add to php.ini, or add an output for the user to add the line.

It is easy to add the line, it is not easy to remove any other that could be the same extensions or different extension version.

[2020-05-23 08:05] pierrejoye commented on #159
This is fixed, in Atoum too :)

[2020-05-23 08:05] #159 closed

[2020-05-23 08:09] pierrejoye commented on #151
Version::fileHasVersionMacro is used, findHeaders was the 1st version of it, I think it can be removed.

[2020-05-23 08:21] pierrejoye commented on #162
I added a comment, the User-Agent part looks good.

I am spending some time on this project again. It needs love.

Mainly fixing 7.2+ and making behat tests run again. Then will drop HHVM and add 8.x experimental support.

[2020-05-23 14:24] pierrejoye commented on #156
You need to have the php-SDK installed and either in your path or using argument.

[2020-05-24 02:11] pierrejoye commented on #123
If anyone can figure out how to work around these permissions, let me know.

Given that brew and co do install them, there must be a way :)

[2020-05-24 02:33] pierrejoye commented on #149
yes, https should solve this.

It is coming today

[2020-05-24 09:38] pierrejoye opened #168 "Behat fails, some files seem to not be removed between tests"
Hi @jubianchi

Sorry to disturb, if you look at the https://travis-ci.org/github/FriendsOfPHP/pickle/jobs/690568076 Some archives (phar or other) remain in the tmp dir and prevents other tests to run.

I try to debug but I have no clue (yet) why. Does that ring a bell?

[2020-05-24 12:43] pierrejoye commented on #168
Fixed, Phar werid issue with tar.gz.

[2020-05-24 12:43] #168 closed

[2020-05-24 12:44] pierrejoye commented on #151
It should be fixed now, we search through all directories recursively.

Reopen if you still have the issue after the next release (or using master)

[2020-05-24 12:44] #151 closed

[2020-05-24 12:45] pierrejoye commented on #165
This should be fixed now, we look for this constant in all files recursively.

[2020-05-24 12:46] pierrejoye commented on #119
WIll be done tonight :)

(what a long time ;)

[2020-05-24 12:55] Hywan commented on #119
:-p

[2020-05-24 12:57] pierrejoye commented on #149
fixed in master.

[2020-05-24 12:57] #149 closed

[2020-05-24 13:36] #119 closed

[2020-05-24 13:37] #107 closed

[2020-05-24 13:39] pierrejoye commented on #162
Thanks you!

Added your PR.

Sorry, I will add the credits later in my commit :)

[2020-05-24 13:39] pierrejoye commented on #162
(available in the 0.5.0 release)

[2020-05-24 14:10] pierrejoye commented on #149
fixed in 0.5.0 release

[2020-05-24 14:12] pierrejoye commented on #143
extension_dir should be a full path to work smoothly.

We could call php, see where it is and resolve the path, however it was causing even more edge cases, in php itself.

[2020-05-24 14:12] #143 closed

[2020-05-24 14:13] pierrejoye commented on #156
Phpize then can generate it.

[2020-05-24 14:13] #156 closed

[2020-05-24 14:13] pierrejoye commented on #148
should work smoothly now, or use the phar

[2020-05-24 14:13] #148 closed

[2020-05-24 14:15] pierrejoye commented on #133
Reopen if you still experience this issue

[2020-05-24 14:15] #133 closed

[2020-05-24 14:38] pierrejoye commented on #145
That would be too much for a one time action, git or peck convert can be used :)

[2020-05-24 14:38] #145 closed

[2020-05-24 20:12] leocavalcante commented on #162
Don't worry, you don't need to :) thanks for reactivating the project.

[2020-05-25 00:06] salarmehr-cbs commented on #162
@pierrejoye Glad that the project got update again. Would be great if the other PRs have also some attentions. (Merging or closure)

Thanks @pierrejoye

[2020-05-25 00:27] salarmehr-cbs commented on #162
I just did a `git pull` and not on the last commit but still:

[code]

[2020-05-25 00:39] pierrejoye commented on #158
fixed in master.

0.6.0 will use symfony/process to avoid this to come back, and enforce no direct exec&co usage.

thanks you :)

[2020-05-25 00:39] #158 closed

[2020-05-25 06:14] pierrejoye commented on #162
Thanks for testing!

Let me try tonight, I tried with a few binaries successfully. We will get
that working!

On Mon, May 25, 2020 at 7:28 AM Reza Salarmehr <notifications@github.com>
wrote:

--
Pierre

@pierrejoye | http://www.libgd.org

[2020-05-26 07:11] pierrejoye commented on #110
Not relevant anymore, only PHP is supported.

[2020-05-26 07:11] #110 closed

[2020-05-26 08:02] pierrejoye opened #172 "Generate Phar on tag/release"
It seems that does not work anymore.

@jubianchi  do you remember the procedure? Or maybe the key expired?

[2020-05-28 03:10] pierrejoye opened #173 "Ability to test the git: protocol using composer (behat test) without key or using access token"
As of now, when updating all deps and using latest versions of each, the git based installed failed if no key are available.

It could be possible to use access token using the
`composer config -g github-oauth.github.com XXXXXXXXXXXXXXXXXXXXXXX`

but somehow failed. Maybe need to add it at the config parameter.

`  Scenario Outline: Install extensions from git with version constraint # features/pe

[2020-05-29 01:29] salarmehr-cbs opened #174 "Unable to install memcached and uuid"
It seems that Pickle does not try to compile an extension when there is no DDL of Windows

[code]

or

[code]
I managed to get membcahced from https://github.com/lifenglsf/php_memcached_dll but could not find a pre-complided windows version for uuid.

I was hoping to be able to use Pickle to install those packages on Windows.

[2020-05-29 01:36] salarmehr-cbs opened #175 "Some errors on installing an extension"
(related to https://github.com/FriendsOfPHP/pickle/issues/162)

After `git pull` and `composer update` I see that now it progress more with the installation.
It actually updates the php.ini file and creates the file in the ext folder. however, it also shows the following errors

[code]

[2020-05-29 01:37] salarmehr-cbs commented on #162
Fantastic that it now progress more. https://github.com/FriendsOfPHP/pickle/issues/175

Cannot wait to be able to use this on my docker images

[2020-05-29 01:42] salarmehr-cbs commented on #174
Actually, for UUID it may not be possible to compile it for Windows.

[2020-05-30 03:09] pierrejoye commented on #175
Thanks for the report :)

It may be related to CA Cert or some SSL error.

Does it happen always when you run pecl install memcache?

[2020-05-30 03:11] pierrejoye commented on #173
This bug is fixed in Master, it is due to 'home' composer config not being set, it should be set to COMPOSER_HOME if defined or defaulted to the default composer home.

[2020-05-30 03:11] #173 closed

[2020-05-30 03:14] pierrejoye commented on #174
pecl's UUID does not have config file to build on windows. Apparently the library either.

Maybe you can report to the UUID extension project to do something like:

https://github.com/postwait/node-libuuid/issues/5

You can tell them to ping me or CMB if Ben needs help to implement or test :)

[2020-05-30 03:26] pierrejoye commented on #174
We have built a windows build infrastructure for windows binaries, php and pecl sources (or on demand for github).

Memcached, for some reasons the https://pecl.php.net/package/memcached does not have DLLs. I would suggest them to contact the PHP windows team (Weltling or CMB ;) ) to sort it out. It used to have it.

Once the DLL is available in pecl.php.net, pickle can fetch it automatically.

We

[2020-05-30 03:27] pierrejoye commented on #174
@cmb69  Maybe you can see with the memcached maintainer? UUID is a bit more work :)

[2020-05-30 03:40] pierrejoye opened #176 "PHP Windows BC Break in compiler constants and definition"
Latest PHP windows breaks BC by removing all references to VC<version>.

I understand it makes life easier for ext developers to map actual VS version, but the VC Runtime is absolutely key here.

As of now, we need to rewrite the binary and compiler detection in pickle to support it.

@weltling  @cmb69 what was the reasoning for this BC change? Given that it is already in the wild, we need to deal

[2020-05-30 03:46] pierrejoye commented on #174
Also see https://github.com/FriendsOfPHP/pickle/issues/176, which basically kills pickle windows support with latest php 7.4 :-( The standard I defined back then are gone in php core. Let see how we can sort it out.

[2020-05-30 03:59] pierrejoye commented on #176
`C:\Apps\php>php pickle.phar install memcached
+---------------+---------------------+
| php Path      | C:\Apps\php\php.exe |
| php Version   | 7.4.6               |
| Compiler      | visual              |
| Architecture  | x64                 |
| Thread safety | no                  |
| Extension dir | ext                 |
| php.ini       | C:\Apps\php\php.ini |
+---------------+----------------

[2020-05-30 04:26] pierrejoye commented on #176
PHPINFO:
7.4:
Compiler => Visual C++ 2017

7.3:
Compiler => MSVC15 (Visual C++ 2017)

7.2.31:
Compiler => MSVC15 (Visual C++ 2017)

[2020-05-30 09:45] pierrejoye commented on #176
Hardcoded VC15 for now, but we lose custom PHP builds support on Windows. At least that will cover most of our users :)

[2020-05-30 09:46] pierrejoye commented on #175
I commited a fix about the PHP core kind BC breaks. We lost support on windows for anyone doing custom php builds and not with VC15, but for any normal users, it works. I force VC to VC15 for now (all supported php versions are built using VC15 only).

[2020-05-30 10:05] pierrejoye commented on #162
The error with 7.3+ using VC15 is also fixed. A BC break in PHP prevented the detection of the compiler used to build PHP. Everything should be fine now (tested with all current maintained PHP versions on windows).

[2020-05-30 10:10] pierrejoye commented on #162
![image](https://user-images.githubusercontent.com/282408/83325704-7c28d180-a298-11ea-9446-6f8c3357f05b.png)

[2020-05-30 10:28] cmb69 commented on #176
@pierrejoye, that issue is supposed to have been resolved with PR #170.

I'm not absolutely sure why this output had been changed, but even if PHP 8.0 would report "MSVC16 (Visual C++ 2019)", the old detection would not work anymore, because of the renaming from "vc14", "vc15" to "vs16". This has been done, because "vc15" already was a misnomer, since the runtime version is actually 14.1x; and for

[2020-05-30 10:43] cmb69 commented on #174
I don't think that an automatic fallback to self-compilation if there is no prebuilt DLL available is in place. You can manually force self-compilation by passing the `--source` option (which should work at least for extensions without special library dependencies).

It seems to me that PECL/memcached DLLs have never been built before, and given that [libmemcached is abandoned](https://launchpad.n

[2020-05-30 12:37] pierrejoye commented on #176
It should have been vc141 :)

I think we need to find a way to be able to determine the PHP build runtime
used. And map it in the binary downloads, core or external extensions. A
constant as we have for windows version?

What do you think?

On Sat, May 30, 2020, 5:28 PM Christoph M. Becker <notifications@github.com>
wrote:

[2020-05-30 12:40] pierrejoye commented on #176
The PR did not solve the VCn definition, which is used for windows
extensions build naming.

Pickle took it out of php -v which per se is not so good. A more normalized
way would be better.

On Sat, May 30, 2020, 7:37 PM Pierre Joye <pierre.php@gmail.com> wrote:

[2020-05-30 12:44] pierrejoye commented on #174
@cmb is fully correct. I I mixed up both in my comment.

memcahe does not rely on any lib while memcached relies on libmemcached,
which was at the time the de facto standard. At least it has the merit to
make it clear now  :)

On Sat, May 30, 2020, 5:43 PM Christoph M. Becker <notifications@github.com>
wrote:

[2020-05-30 16:58] cmb69 commented on #176
Yes, that would have reflected the runtime version best. However, we had already shipped PHP 7.2 and 7.3 as vc15, and then changing to vc141 would have been confusing (especially since the latest runtime is still named vcruntime140.dll). So we went with the internal Visual Studio version number (which is 15 for VS 2017 and 16 for VS 2019); that's why we changed "vc" to "vs".

May make sense (and c

[2020-05-30 22:53] pierrejoye commented on #176
Thanks @cmb69

It made me think about a tool we have in php-src exactly for that :)

C:\Apps\php>deplister.exe php.exe
php7.dll,OK
WS2_32.dll,OK
SHELL32.dll,OK
KERNEL32.dll,OK
VCRUNTIME140.dll,OK
api-ms-win-crt-runtime-l1-1-0.dll,NOTFOUND
api-ms-win-crt-stdio-l1-1-0.dll,NOTFOUND
api-ms-win-crt-heap-l1-1-0.dll,NOTFOUND
api-ms-win-crt-string-l1-1-0.dll,NOTFOUND
api-ms-win-crt-environment-l1-1-0.dll,

[2020-06-01 00:09] salarmehr-cbs commented on #175
@pierrejoye Thanks for what you did. Still, I got error:

[code]

[2020-06-01 00:13] salarmehr-cbs commented on #175
If I delete the DLL and also remove its reference from the php.ini I will just get

[code]

[2020-06-01 00:28] salarmehr-cbs opened #177 "Can we have a enable/disable and uninstall command?"
Regardless of being installed by Pickle or not, could we have a enable/disable option to update the mini file (mainly on Windows)?

Also and uninstall command is very handy, it should be as easy as removing the DLL file and updating the ini file.

[2020-06-01 01:36] pierrejoye opened #178 "Reuse Info command"
https://github.com/FriendsOfPHP/pickle/blob/master/src/Console/Command/InstallerCommand.php#L210

https://github.com/FriendsOfPHP/pickle/blob/master/src/Console/Command/ReleaseCommand.php#L92

            /* TODO The part of the helper showing package info plus the
                concrete info class implementation should be
                reworked. The concrete Info class should provide

[2020-06-01 01:37] pierrejoye opened #179 "Allow different archives in release binary commands"
/* TODO: make it to take value like zip, tgz, etc. should this functionality be expanded */
https://github.com/FriendsOfPHP/pickle/blob/master/src/Console/Command/ReleaseCommand.php#L57

[2020-06-01 17:32] cmb69 commented on #176
We could, but currently the tool doesn't provide the desired information. I mean, it's  VCRUNTIME140.dll for VS 2015-2019 (currently). Anyhow, I think PR #180 should resolve the issue for now.

[2020-06-01 19:21] cmb69 commented on #174
I just noticed that I was wrong about libuuid. The PECL package description says "A wrapper around libuuid from the ext2utils project.", and [ext2utils are well maintained](https://git.kernel.org/pub/scm/fs/ext2/e2fsprogs.git/). I'll have a look at it.

[2020-06-02 09:17] pierrejoye commented on #177
Enable/disable would be possible, given they respected the php core and ext naming convention.

Uninstall would work too for those installed by pickle, as we would not know if some deps DLLs are still required by other extensions. That also means we need to store the list of these DLLs for a given version .

[2020-06-02 11:45] pierrejoye commented on #175
Can you try using the phar pls?

Using master, you have to make sure that the cacert certifates bundles is available and loaded (as part of composer we use in vendor/composer/).

[2020-06-02 11:46] pierrejoye commented on #176
That PR solves the issue for now. Thanks @cmb69  :)

[2020-06-02 11:46] #176 closed

[2020-06-02 14:43] cmb69 commented on #174
I seriously doubt that it makes sense to build libuuid for Windows in its current state. Besides that it needs some minor patches to even compile (e.g. there is no `getuid()` on Windows), the functionality is severely restricted on Windows: [`get_node_id()` always returns 0](https://git.kernel.org/pub/scm/fs/ext2/e2fsprogs.git/tree/lib/uuid/gen_uuid.c#n220), `uuid_generate()` always calls `uuid_ge

[2020-06-02 15:56] cmb69 commented on #162
Not serving the requested contents if the user-agent is empty is intentional; Anatol told me that there have been to many such requests in the past (basically, DOSing the system), so this check had been added.

[2020-06-02 16:00] cmb69 commented on #175
This is an instance of https://bugs.php.net/79589. TL;DR: OpenSSL 1.1.1e introduced some very strict checks, which have been lifted as of OpenSSL 1.1.1f. So just update to PHP 7.4.6, and the problem should be solved.

[2020-06-03 03:20] pierrejoye commented on #175
Yes, also ensure you have one these ini settings set:
openssl.cafile
openssl.capath
if needed. Composer's Ca-Bundle includes the latest available cacert.pem.

Afair on Windows openssl still requires the cacert.pem, while curl can use the Windows Cert DB. @cmb69 do you remember the state of the ssl certs affair for openssl?

[2020-06-03 03:22] pierrejoye commented on #175
@cmb69 btw this issue, together with Composer, does happen as well with 7.4.6. Expected if no cacert are loaded.

[2020-06-03 05:17] salarmehr-cbs commented on #175
I used `https://curl.haxx.se/ca/cacert.pem` for `openssl.cafile`  and left`openssl.capath` blank, still getting the same error. Phar file returns a similar error

@pierrejoye If you don't have a Win machine, maybe a docker image can be used to replicate the issue locally.

[2020-06-03 05:18] salarmehr-cbs commented on #175
@pierrejoye Can you consider encouraging people to use phar file? the current readme file discourage it

[2020-06-03 07:16] pierrejoye commented on #152
` php bin/pickle install --dry-run mongodb-stable
  - Installing mongodb (latest-stable): Downloading (100%)
+-----------------------------------+---------+
| Package name                      | mongodb |
| Package version (current release) | 1.7.4   |
| Package status                    | stable  |
+-----------------------------------+---------+
[whether to compile against system libraries instea

[2020-06-03 07:17] pierrejoye commented on #152
Also Mongodb started to use weird version again for beta, like 1.8.9beta1, which is not semver (pecl allows it), so we may add a notice at packaging time tho'.

[2020-06-03 07:26] pierrejoye commented on #175
@salarmehr-cbs I modifed the README.md accordingly, promoting phar usage in the first place. Thanks for the headup :)

[2020-06-03 07:27] pierrejoye commented on #175
@salarmehr-cbs do you get the error using phar or src? I get it using the src but not using phar. I have a windows machines, and a couple of VMs to test, thanks!

And thanks again to contribute and test, much appreciated :)

[2020-06-04 00:04] salarmehr-cbs commented on #175
@pierrejoye I get the same error using the phar file.

[2020-06-04 09:17] pierrejoye commented on #175
`PS C:\Apps> .\php\php.exe .\pickle.phar info memcache
  - Installing memcache (latest-stable): Downloading (100%)
+-----------------------------------+----------+
| Package name                      | memcache |
| Package version (current release) | 4.0.5.2  |
| Package status                    | stable   |
+-----------------------------------+----------+

memcached extension

Configure options

[2020-06-04 09:32] pierrejoye commented on #175
`PS C:\Users\pierr\Documents\GitHub\pickle> C:\Apps\php\php.exe bin\pickle install memcache
+---------------+---------------------+
| php Path      | C:\Apps\php\php.exe |
| php Version   | 7.4.6               |
| Compiler      | vc15                |
| Architecture  | x64                 |
| Thread safety | no                  |
| Extension dir | C:\Apps\php\ext     |
| php.ini       | C:\Apps\ph

[2020-06-04 09:36] pierrejoye commented on #175
Using pickle.phar, built from master:

`PS C:\Apps> .\php\php.exe .\pickle.phar install memcache
+---------------+---------------------+
| php Path      | C:\Apps\php\php.exe |
| php Version   | 7.4.6               |
| Compiler      | vc15                |
| Architecture  | x64                 |
| Thread safety | no                  |
| Extension dir | C:\Apps\php\ext     |
| php.ini       | C:\Ap

[2020-06-04 09:44] cmb69 commented on #175
I think curl would have to be build with Schannel support to use the Windows Cert DB, but official builds are with OpenSSL support.

[2020-06-04 10:27] pierrejoye commented on #175
@cmb69 thanks for you hint the other day, that fixes the notification call back :)

[2020-06-04 10:53] pierrejoye commented on #166
As of PHP itself (not HHVM as the support for HHVM has been droped), it works as expected.

[2020-06-04 10:53] #166 closed

[2020-06-04 10:54] pierrejoye commented on #174
Issue here solved per se from a pickle point of view.

Thanks @salarmehr-cbs and @cmb69 for your time and support!

[2020-06-04 10:54] #174 closed

[2020-06-04 11:05] pierrejoye opened #181 "Create plugin for Composer 2.x"
As a first step, create a plugin for composer (2.x).

That means the pickle command can be called using a custom command using composer.

Once stable and we know exactly where and how to integrate it in composer, it will be done. Ideal target for the last step, 2.1 or later.

Any volunteer welcome :)

[2020-06-05 02:14] salarmehr-cbs commented on #175
@pierrejoye I tried yr new file doesn't work.

[2020-06-05 03:48] pierrejoye commented on #175
@salarmehr-cbs weird. I am not sure how to move forwards. Do you get the same error as above?

I tried on three different windows (clean fresh ones too) and it works as expected.

Are you still using 7.4.5? Maybe could you try with 7.4.6?

And maybe show me your php -m and php -i output pls.

[2020-06-05 08:39] cmb69 commented on #175
For me, the pickle.phar from [above](https://github.com/FriendsOfPHP/pickle/issues/175#issuecomment-638738154) works fine with a fresh PHP 7.4.6, but with PHP 7.4.5 I get the error ("SSL routines:ssl3_read_n:unexpected eof while reading"). Same OpenSSL setup, but different versions (1.1.1e vs. 1.1.1g).

[2020-06-05 09:46] pierrejoye commented on #175
@cmb69 thanks! Looks like the strictness being fixed in 1.1.1g you mentioned last week.

@salarmehr-cbs if you are OK, I would like to close this ticket, not much we can do on the pickle/composer side.

[2020-06-06 08:12] pierrejoye opened #183 "Refactor Pickle\Config to use \Composer\Factory::createConfig"
To have a proper Composer environment, createConfig should be used. That will set all necessary options, if available, like auth or https options according to the user config.

[2020-06-07 05:31] pierrejoye commented on #175
I will close this issue for now. Please re open if you have any issue. :)

[2020-06-07 05:31] #175 closed

[2020-07-01 20:31] elovin commented on #165
When I run `sudo ./pickle.phar install xdebug`
I also get this error:

[code]

[2020-07-09 23:31] vstokarev commented on #165
I cannot install xdebug too, same error, latest version (0.6.0), please reopen this issue.

[2020-07-11 16:08] pierrejoye commented on #165
Ok, will try to take a look at it soon.

In the meantime, which command call did you use to install xdebug?

[2020-07-11 17:37] vstokarev commented on #165
I used `pickle install xdebug`

The problem is that xdebug does not have PHP_ prefix in version macro:
https://github.com/xdebug/xdebug/blob/master/php_xdebug.h#L23

It can be fixed by updating regexp which is used for searching versions in `src/Package/Util/Header/Version.php`. I updated it locally, made a new build and it worked just fine. I can submit a pull request later today.

[2020-07-11 17:52] vstokarev commented on #165
PR: https://github.com/FriendsOfPHP/pickle/pull/185

[2020-08-16 02:37] adhocore opened #186 "Checking if extension is already installed/loaded"
Right now if we (re)run the command below,
[code]
It starts downloading and installing the `apcu` ext right away without checking if it is already there.

While it is upto user to know which exts are already there and not try to install them over again, it maybe useful for pickle to do this in itself.

Alternatively, there may be `--reinstall` flag which will work as current behavior.

[2020-08-17 07:54] hhoechtl opened #188 "Invalid version string"
I'm trying to install the package `yaml` on PHP 8.0 beta1 but I get:
[code]

[2020-08-20 09:22] josefsabl commented on #188
I am having similar issue:

```RUN pickle install yaml@2.2.0b1```

ends with:

[code]

[2020-08-30 00:20] faizanakram99 commented on #165
![image](https://user-images.githubusercontent.com/10880992/91648391-ae5af280-ea84-11ea-92f3-3e7e0e728b76.png)

Same issue with sqlsrv or pdo_sqlsrv extensions

[2020-08-30 04:19] vstokarev commented on #165
It is probably a different issue @faizanakram99 .

[2020-08-30 04:59] faizanakram99 commented on #165
Think it's the same as OP reported, the error messages are the same

[2020-08-30 05:19] vstokarev commented on #165
Yes, you're right. And this is probably a reason for that:
https://github.com/microsoft/msphpsql/blob/master/source/shared/version.h#L64

Not sure how it can be fixed in pickle though.

[2020-08-30 11:58] pierrejoye commented on #165
We could fix it but it would be endless fixes then (Been there in the old pear/pecl):

Pickle uses composer. Composer supports semver valid versions only.

What I was thinking is a kind of flags to allow users to install. However ideally upstream developers should use semver only versions.

[2020-08-30 11:58] pierrejoye commented on #165
As of SqlSrv they should use the macros, it is part of the php extension references. btw :)

[2020-08-30 11:59] pierrejoye commented on #165
(they removed them as I added them in the early days of this extension)

[2020-08-30 12:26] #165 closed

[2020-08-30 12:27] pierrejoye commented on #186
--reinstall could be an option however it won't work if the php used by pickle is the one using the extension being installed (locked)

[2020-08-31 00:08] pierrejoye commented on #188
See https://github.com/FriendsOfPHP/pickle/issues/165

In short, we should report to them to use semver versions.

[2020-09-18 13:35] mcfedr commented on #188
Would be useful to allow pickle to ignore this version in someway - had a similar issue, where i want to install xdebug dev version from source,  `pickle install git://github.com/xdebug/xdebug.git`, and you get the error, `Version mismatch - '3.0.0-dev' != '2.8.0beta1' in source vs. XML`.

[2020-09-22 05:01] #188 closed

[2020-10-07 13:20] thomaspicquet opened #190 "Issue installing redis"
Hi,

I'm getting this errors when installing redis `pickle install redis --defaults`
[code]

I haven't found a way to update which version it installs so I'm not sure how to fix it

thanks

[2020-10-07 15:59] pierrejoye commented on #190
Hello,

thanks for the report!

pls use master, i wil a work around for extensions not using semver.

On Wed, Oct 7, 2020, 8:20 PM Thomas <notifications@github.com> wrote:

[2020-10-07 16:08] thomaspicquet commented on #190
Thanks @pierrejoye , I will

[2020-10-15 07:45] mlocati opened #191 "Can't install xdebug-beta: Invalid version string "3.0.0beta1-beta""
Installing xdebug-beta fails:

[code]

Please remark that the Xdebug source code contains [`#define XDEBUG_VERSION    "3.0.0beta1"`](https://github.com/xdebug/xdebug/blob/3.0.0beta1/php_xdebug.h#L23)

[2020-10-16 15:32] desrosj commented on #191
Using `pickle install xdebug-3.0.0beta1` is also failing. The result is `http error while loading information for xdebug-3.0.0beta1: unknown error`.

[2020-10-17 12:07] grikdotnet commented on #165
Well, I still get an version error when trying to install xdebug from source in a local folder.

[2020-10-17 13:51] faizanakram99 commented on #165
Sorry I don't know anything about extension development, is this worth an issue in ext sqlsrv repository ?
If yes, could you help me in opening an issue there ?

[2020-10-18 05:13] pierrejoye commented on #191
hello,

you need to use Master, not the release to have the option to disable
server check. :)

On Fri, Oct 16, 2020, 10:32 PM Jon Desrosiers <notifications@github.com>
wrote:

[2020-10-19 06:41] hhoechtl commented on #134
Unfortunately the naming convention of PECL packages seems to be always `<version-core><pre-release>-<stability>`. E.g. also `5.3.2RC2-beta` for `redis` currently

[2020-10-20 00:25] strarsis opened #193 "imagick build fails for PHP 8.0.0RC2-fpm"
imagick build fails for PHP 8.0.0RC2-fpm:
[code]

[code]
Related: https://github.com/Imagick/imagick/issues/271

[2020-10-20 00:45] strarsis commented on #165
With latest pickle (`v0.6.0`) the installation of `xdebug` PHP extension fails:
[code]

[2020-10-20 13:40] ericpoe commented on #191
I get a slightly different error message when building from the master branch: 'Invalid version string "3.0.0beta1-beta"'

Quick recreation in Docker:

[code]

[2020-10-20 16:38] neclimdul commented on #191
Not 100% but this sounds like a dupe of #188. The fix for that hasn't landed in a release yet.

[2020-10-21 07:36] pierrejoye commented on #193
Hello,

This is most likely due to mismatched php version. TS bs NTS, but afair in
PHP8, none of them exist. This is something you may report to imagick tho'.

On Tue, Oct 20, 2020 at 7:25 AM strarsis <notifications@github.com> wrote:

--
Pierre

@pierrejoye | http://www.libgd.org

[2020-10-21 13:51] strarsis commented on #193
Hm, GitHub didn't show the referenced issue, I post it again: https://github.com/Imagick/imagick/issues/271

[2020-10-22 05:56] sanmai opened #194 "Provide official Docker images"
Like those for Composer:

- https://hub.docker.com/_/composer
- https://github.com/composer/docker

They makes using Composer from within Docker a breeze:
[code]
And that's it!

This is becoming especially important with the release of PHP 8.0, and ensuing sunset of `pecl`.

[2020-10-22 14:34] derrabus opened #195 "Make ext-zip optional"
When running `pickle` in an enviroment without `ext-zip`, it fails early. This is for instance the case with the php binary that is bundled with macOS.

[code]

To me, this seems like an unnecessary hard requirement. I recognize that on Windows, php extensions come precompiled and are distributed as ZIP files. But for other platforms, extensions are usually distributed as source tarballs.

Would i

[2020-10-25 11:20] juliangut commented on #195
Fully agree with @derrabus

[2020-10-26 13:39] duncan3dc commented on #165
I think the issue with sqlsrv is that they are building the constant dynamically, which Pickle doesn't support:
https://github.com/microsoft/msphpsql/issues/1210

[2020-10-28 00:51] pierrejoye commented on #195
would be possible however I see many where the code is downloaded (using
composer) from git, as zip.

I won't have the time to do it, however if you have time feel free to do
it. It needs quite a few places to be changed, and it also may need
composer updates afair.

On Sun, Oct 25, 2020, 6:20 PM Julián Gutiérrez <notifications@github.com>
wrote:

[2020-11-03 10:55] bartvanhoutte commented on #191
Any workaround?

[2020-11-09 21:31] mleczakm commented on #165
I'm still unable to install latest swoole using pickle.

[2020-11-13 08:33] kowalski7cc commented on #193
Also https://github.com/Imagick/imagick/issues/358

[2020-11-13 12:59] stemis opened #198 "CLI optimizations for use in CI/Docker files"
Hello,

Recently I tried to install `grpc` in a docker environment with PHP 8.0. The `grpc` package is not ready yet and threw compile errors.
However, pickle's cli is currently very limited when it comes to handling errors, making it very unreliable to run in CI/Docker scripts.

See below the response:
[code]

I have two issues with this:
- When an error occurs, input is necessary to proceed. It

[2020-11-15 02:11] tobybellwood opened #199 "Will there be another release before PHP8 comes out?"
Hi - Thanks so much for the recent activity on this, I've been using Pickle to install our PECL extensions for all our PHP8 testing to date - it's working well, and the fixes to master to allow a version override work brilliantly, especially as only 2/5 of our extensions are PHP8 ready in the stable release.

I've been downloading a .phar of master from my own repo to date - and will probably crea

[2020-11-15 11:06] mleczakm commented on #199
Release please #189 because without this fix many extensions can't be installed and building phar from source inside dockerfile is a bit complicated.

[2020-11-16 09:11] tburschka opened #200 "Pickle try to load wrong extension version"
It seems, that pickle doesn't respect the option downloading the latest-stable version, in case of mongodb it's 1.8.2 and not 1.9.0RC1. (I'm using the latest pickle.phar)

    pickle install mongodb
    Installing mongodb (latest-stable): Downloading (100%)
    In VersionParser.php line 176:
    Invalid version string "1.9.0RC1-beta"

[2020-11-17 10:57] hrs-o commented on #191
As of 2020.11.17, when I try to add xdebug-beta, I get the following error:

The version definition of Xdebug itself seems to be `3.0.0RC1`, but it seems that https://github.com/FriendsOfPHP/pickle/blob/master/src/Package/Util/Dumper.php#L59 has added` -beta`.

I get an error when "3.0.0RC1-beta" is passed to https://github.com/composer/semver/blob/main/src/VersionParser.php#L102 .

Is this behavi

[2020-11-21 01:37] mleczakm commented on #199
PING :)

[2020-11-25 17:58] mlocati commented on #191
Xdebug 3.0.0 has just been released, but it's not possible to install it with the last published pickle version (0.6.0).
What about publishing a new pickle version (which includes #185)?
Building pickle by cloning the `master` branch requires composer and a bunch of PHP extensions...

[2020-11-27 12:05] Ilyes512 commented on #198
There is already a `--no-interaction` flag and there is also a flag for the install cmd named `--defaults`. Not sure what the differences between the 2 are.

[2020-11-27 15:00] TheHett commented on #165
How I understand this PR isn't included in latest release.
When is the next release?

[2020-11-27 15:02] TheHett commented on #165
Still not working :(

[code]

[2020-11-27 17:28] Ilyes512 commented on #199
Is there any schedule or plan?

[2020-11-28 16:54] pierrejoye commented on #199
should, but I am very busy right now with my company.

I will have time during Xmas break.

PRs welcome tho', if tests pass i will merge and release  :)

On Sat, Nov 28, 2020, 12:28 AM Ilyes512 <notifications@github.com> wrote:

[2020-11-28 17:00] pierrejoye commented on #165
I will do a release this week.

For this, you will need to use current git

On Fri, Nov 27, 2020, 10:02 PM Anton <notifications@github.com> wrote:

[2020-11-28 17:31] pierrejoye commented on #191
pls use the current git

On Thu, Nov 26, 2020, 12:59 AM Michele Locati <notifications@github.com>
wrote:

[2020-11-28 17:41] mlocati commented on #191
Using the current git requires composer, which in turn requires the openssl, (iconv || mbstring), zlib PHP extensions... what's wrong in publishing a new pickle version?

[2020-11-29 08:20] pierrejoye commented on #191
Nothing wrong but time :)

On Sun, Nov 29, 2020, 12:41 AM Michele Locati <notifications@github.com>
wrote:

[2020-12-01 10:40] mlocati commented on #191
To speedup the release process, I can submit a pull request with a GitHub Action, that will be triggered by a tag creation. That action would do the following:

- builds the changelog by listing the commit messages since the previous tag
- creates the `pickle.phar` file
- create a draft release by using the collected changedlog and attaches the `pickle.phar` file

So, you'll only have to:
1. creat

[2020-12-01 13:45] mlocati commented on #191
[Here's](https://github.com/mlocati/picke-sample/blob/master/.github/workflows/create-release.yml) what I meant.
With that action in place, I simply pushed a new tag (`v9.9.9`), and the action [created](https://github.com/mlocati/picke-sample/runs/1480251515) this draft:

![immagine](https://user-images.githubusercontent.com/928116/100748644-dccdce00-33e3-11eb-935e-6edfbb269e15.png)

[2020-12-03 02:35] faizanakram99 commented on #165
msphpsql changed version number upstream but unfortunately it still doesn't work, tried with master branch too

https://github.com/microsoft/msphpsql/issues/1210#issuecomment-737413033

[2020-12-06 14:52] duncan3dc opened #202 "Incorrect version suffix for non-stable releases"
I see a change was made in baa3a37da0ee713eaa82fba7598c0f621ff9a7b6 which respected the version string from the extension.
However it looks like this was reverted in f2548dc8f62b78ac337bfa208746c57c362efbed which is now causing issues like https://github.com/microsoft/msphpsql/issues/1210 (`Invalid version string "5.9.0beta2-beta"`)

Does anybody know why f2548dc8f62b78ac337bfa208746c57c362efbed w

[2020-12-08 11:55] mlocati opened #203 "Support versions not respecting semver"
I [created a little script](https://gist.github.com/mlocati/985ea9d260adf7a27e7191229386c6f8) that extracts all the versions of all the PECL packages.

Here's the list: [versions.txt](https://github.com/FriendsOfPHP/pickle/files/5659086/versions.txt)

As you can see, there are many version formats, like for example `0.1`, `1.0.1c1`, `1.3.7.12`

I'm posting this issue in the hope that this version

[2020-12-09 10:59] TheHett commented on #165
@pierrejoye current git doesn't work on php 8 :(

[code]

[code]

Can you release?

[2021-01-11 13:14] mlocati opened #204 "Is this project abandoned?"
I'd need to know if I should wait for a new pickle version in the near future, or if I have to look for alternatives to pickle...

[2021-01-11 14:02] Hywan commented on #204
I'm no longer co-maintaining the project. Maybe @pierrejoye or @jubianchi could provide further details?

[2021-01-12 10:09] pierrejoye commented on #204
I do, can see the commits, lacking time to do the changes for php8 lately.
Kind of over busy, contribution welcome!

On Mon, Jan 11, 2021, 9:03 PM Ivan Enderlin <notifications@github.com>
wrote:

[2021-01-12 10:21] mlocati commented on #204
@pierrejoye well, I tried to contribute, but I received no feedback in more that a month...

For example, [here](https://github.com/FriendsOfPHP/pickle/issues/191#issuecomment-736561016) I suggested a way that would let you publish a new version by simply pushing a new tag...

[2021-01-13 09:58] pierrejoye commented on #191
Sorry I missed that one.

That would be extremely cool yes.

:)

[2021-01-13 13:19] mlocati commented on #191
@pierrejoye See https://github.com/FriendsOfPHP/pickle/pull/205
Could we have a new 0.7.0 (or whatever) pickle version?

[2021-01-14 10:50] pierrejoye commented on #204
PR Merged. I will try a release over the weekend! :)

[2021-01-14 13:25] mlocati commented on #204
Great! It should be as easy as:
1. pushing a new version-like tag to the github repository
2. wait until [the GitHub Action](https://github.com/FriendsOfPHP/pickle/actions) completes
3. go to the [releases](https://github.com/FriendsOfPHP/pickle/releases) page
4. review the draft release that has been created automatically
5. publish that draft release

[2021-01-16 00:11] #195 closed

[2021-01-24 12:32] #204 closed

[2021-01-25 15:49] mlocati commented on #202
This issue should have been fixed by #201

[2021-01-25 15:49] #202 closed

[2021-01-25 15:50] mlocati commented on #200
This issue should have been fixed by #201

[2021-01-25 15:50] #200 closed

[2021-01-25 15:51] mlocati commented on #191
This issue should have been fixed by #201

[2021-01-25 15:51] #191 closed

[2021-01-25 15:51] mlocati commented on #190
This issue should have been fixed by #201

[2021-01-25 15:51] #190 closed

[2021-01-25 15:52] mlocati commented on #172
Fixed by #205

[2021-01-25 15:52] #172 closed

[2021-01-25 16:04] mlocati commented on #198
The `--no-interaction` option should prevent `pickle` from asking questions to the user.
In this case, when an extension needs some configuration values, it uses the default values. You can override those default values by using the `--defaults` option.

#218 will fix the other issue (exit with non-zero in case `pecl install` fails).

[2021-01-25 16:14] mlocati commented on #194
@pierrejoye do we have a `FriendsOfPHP` account on `hub.docker.com`? If so, we can for sure easily extend the [`create-draft-release.yml`](https://github.com/FriendsOfPHP/pickle/blob/master/.github/workflows/create-draft-release.yml) GitHub Action so that it builds a Docker image and deploy it to Docker Hub.

[2021-01-25 16:19] mlocati commented on #194
I guess we could create a `friendsofphp` organization on Docker Hub, but I'd like to hear from @keradus, @SpacePossum, @kubawerlos, @julienfalque, @fabpot (and others)?

[2021-01-25 17:13] mlocati commented on #199
We now have a new version (0.7.0)

[2021-01-25 17:13] #199 closed

[2021-01-25 17:46] mlocati opened #220 "Packagist is not updated"
I've just released version 0.7.0, but it's not listed on packagist (see https://packagist.org/packages/friendsofphp/pickle).

@pierrejoye I think it's something you should take a look at...

[2021-01-27 09:17] vicalle12 commented on #165
I still have same problem

[2021-01-27 13:24] mlocati commented on #165
@vicalle12
1. what's your pickle version (`pickle --version` or `php pickle.phar --version`)?
2. what's the command that fails for you (eg `pickle install ...`)?

[2021-01-27 14:32] vicalle12 commented on #165
Command
`pickle install xdebug`
in Dockerfile: `FROM php:8.0.0RC3-fpm-alpine`
Error:
`pickle install xdebug
  - Installing xdebug (latest-stable): Downloading (100%)

In Version.php line 91:

  Couldn't parse or find the version defined in the PHP_XDEBUG_VERSION macro`

[2021-01-27 14:48] mlocati commented on #165
@vicalle12 What's the version of pickle you are using? `pickle --version`

[2021-02-20 09:30] pierrejoye commented on #220
Let me check :)

[2021-02-20 09:34] pierrejoye commented on #220
Hm, it was not me who registered it there. I pinged them to assign it to me :) Wait and see

[2021-02-20 09:35] mlocati commented on #194
@pierrejoye could you take a look at this issue? It'd allow users installing pickle in docker images in a very simple way (see for example https://github.com/mlocati/docker-php-extension-installer#copying-the-script-from-a-docker-image)

[2021-02-22 01:03] pierrejoye commented on #220
It should be updated soon, I pinged them and Nils replied :)

[2021-02-22 01:09] pierrejoye commented on #203
We may as well see with peclweb to normalize them, many of them make no sense, duplicate info :)

[2021-02-22 01:10] pierrejoye commented on #194
@fabpot do we have a docker account for this org? It could be nice to have anyway, wdyt?

[2021-02-22 09:24] pierrejoye commented on #220
@mlocati what is your package account? I can add you now

[2021-02-22 09:30] mlocati commented on #220
It's mlocati

[2021-02-22 14:45] pierrejoye commented on #220
@mlocati added :)

[2021-02-22 15:36] mlocati commented on #220
@pierrejoye thanks! BTW it seems I don't have access to the appropriate settings of the pickle repository - see https://packagist.org/about#how-to-update-packages

[2021-02-23 02:26] pierrejoye commented on #220
@mlocati upgraded :)

[2021-07-13 20:07] jmikola commented on #152
I'm aware that it's invalid per [SemVer's BNF](https://semver.org/#backusnaur-form-grammar-for-valid-semver-versions), but I was under the impression that this was the particular format required by PECL. Am I mistaken?

The [xdebug](https://pecl.php.net/package/xdebug) package uses similar tags, although that may not be saying much since @derickr was involved in both packages.

[2021-07-13 20:53] derickr commented on #152
On 13 July 2021 21:07:16 BST, Jeremy Mikola ***@***.***> wrote:

It's what is the standard for PHP versions is, as documented with PHP's version_compare function: https://www.php.net/manual/en/function.version-compare.php

That's what PECL (and PEAR) versions were modeled after, way before semver was formalised.

So no, this is not weird, and very much in line with PECL and PEAR package versions l

[2021-07-14 00:29] pierrejoye commented on #152
Aloha,

Weird is a bad word. Sorry, it is more about SemVer or not.

In any case, we have two choices (sorry, PEAR is not part of that :), either we support fully version_compare or we follow SemVer only, which is what composer does.

I tend to go with the later as it solves a load of issues when it comes to versioning and deps between composer and extensions, besides duplicating all comparison an

[2021-07-14 01:21] pierrejoye commented on #152
@jmikola also it is not required by PECL. It is supported by PECL due to version_compare usage. This is a key difference.

SemVer would work perfectly fine with PECL if used.

[2021-07-14 18:53] jmikola commented on #152
Noted. Even if `ext-mongodb` were to start using a semver-compliant format for prerelease versions going forward, would there be issues with old releases? I realize the problem may just sort itself out in due time, since projects would be less likely to depend on older versions with non-semver tag names.

Another thought: Assuming the `version_compare` format is consistently followed across existi

[2021-07-15 06:29] pierrejoye commented on #152
As of an extension using semver, there will be no issue if the version number is different. In pecl.php.net, the status is handled separately than the version. The version like 1.0.1beta1 exists to allow 1.0.1beta1, 1.0.1beta2 etc. which is redundant with the status and version numbers are infinite ;).

Also I really really tend to go with SemVer for pickle and only support install with force mode

[2021-07-20 12:53] ttodua opened #232 "Flags does not work correctly."
[Ubuntu 20.04]

I tried to install '[redis](https://github.com/phpredis/phpredis)' extension, and during installation `pickle` asks yes/no question to enable flags for that extension. One of such question is:

`whether to enable igbinary serializer support (default: no): ` and inputing there `yes` still didn't set that flag for that extension, as after successful install, doing

`var_dump(\Redis::

[2021-07-20 12:55] mlocati commented on #232
Did you install and enable the igbinary php extension before installing the redis php extension?

[2021-07-20 14:19] ttodua commented on #232
Ah, it was my first interaction with pickle, and I thought it installed the dependencies automatically in the backgrounds (as composer does). sorry.

[2021-07-20 14:52] ttodua commented on #232
hm. installed igbinary, also shows up in `php  -m` loaded modules, and then tried to re-install redis, with `yes` parameter, but still no luck, same error shows up. So, I dont know where is the bug, in pickle chain or in redis package.

[2021-07-20 15:28] ttodua opened #233 "Is there any way to enable/disable any .SO extension automatically?"
I searched and found only this topic : https://github.com/FriendsOfPHP/pickle/issues/177 , however, still not clear.
Is there any way, without us requiring to manually locate the php.ini  and add by hand : `extension=xyz.so`.  Would be nice, i.e.
`pickle enable xyz` . phpbrew has such functionality.

[2021-07-21 02:16] pierrejoye commented on #233
I would be happy with a PR, it is very handy feature :)

On Tue, Jul 20, 2021, 10:38 PM Michele Locati ***@***.***>
wrote:

[2021-09-17 08:39] nick322 opened #240 "Parsing the "AC_ARG_WITH" parameter in the "config.m4" file will be wrong."

[2021-09-21 08:42] speller opened #241 "How to pass configuration options?"
It says that pickle is intended for ease of extension management. But I'm stuck with passing configuration options while installing the `redis` extension. It asks for many options during the installation but I want to pass their values in the CLI. How to do that? I can't find their names and how to pass them, no documentation.

I understood that these are the default:

[code]
And how to override t

[2021-09-21 08:50] speller commented on #241
When I install redis with default values, it doesn't work:

[code]

How to use pickle at all??? I just want the extension installed and loaded but can't do that with all defaults.

[2021-09-21 09:55] mlocati commented on #241
You can use the `--with-configure-options` option.

Write a file containing the options defined in the `package.xml` file provided by the package ([here's the one for redis 5.3.4](https://github.com/phpredis/phpredis/blob/5.3.4/package.xml#L129-L133), or use my https://mlocati.github.io/pecl-info tool).

For example, for [redis 5.1.0 and later](https://mlocati.github.io/pecl-info/#redis), you can

[2021-09-22 06:58] #241 closed

[2021-09-22 06:59] mlocati opened #242 "http error while loading information for xdebug-3.1.0beta2: unknown error"
This works:

[code]

but this doesn't:

[code]

[2021-09-22 07:13] pierrejoye commented on #242
I think it is yet again no semver usage for xdebug version.

On Wed, Sep 22, 2021, 1:59 PM Michele Locati ***@***.***>
wrote:

[2021-11-01 18:29] FLasH3r opened #244 "Unable to install openswoole in alpine (docker)"
Error:

`Couldn't parse or find the version defined in the (?:PHP_)?OPENSWOOLE_(?:EXT_)?VERSION macro`

installation of pickle worked:

[code]

then I run:
[code]

`pickle --version` reports:

[code]

but this is the error I get when I try to install openswoole

[code]

[2021-11-08 16:54] wuvdev opened #245 "how to uninstall a package installed by pickle install ..."
how come it doesn't have the command 'uninstall' as it has 'install' ?

[2021-11-12 10:45] ruudk opened #246 "PHP 8.1"
I tried to use Pickle on PHP 8.1 RC6 but I'm getting a lot of errors:

[code]

[2021-11-18 06:18] ruudk opened #247 "Pickle picks RC instead of latest stable"
[code]

Why does it install RC version (tagged as beta on pecl) instead of the latest real stable?

[2021-12-12 07:53] llaville commented on #246
Tried with stable version of PHP 8.1.0 too ! (deprecated messages)

[code]

[2021-12-19 15:24] llaville commented on #246
Raise `symfony/console` minimum to 5.3.7 will fix part of this issue.

Here are what I've applied on current copy of Pickle (commit `d69ff6f6`).

```composer update``` to upgrade dependencies ; current version is symfony/console 5.4.1

Build the PHAR distribution with `box 3.14.0@78b88c4`
```box compile```

And run tests again
[code]

[2021-12-19 16:13] ruudk commented on #246
Updated https://github.com/FriendsOfPHP/pickle/pull/248 to use 5.4.1

[2021-12-19 17:17] llaville commented on #246
@ruudk you misunderstood what I would like to say when I upgraded to symfony/console 5.4.1
This is the latest version available in branch 5.x and not the minimum requirements.
I let you confirm that 5 3.7 is the min

[2021-12-19 17:45] ruudk commented on #246
Hmm, ok. Updated the PR back to 5.3.7

[2021-12-20 06:06] llaville commented on #246
For remaining deprecated errors
[code]
This is due to `box-project` and `humbug/php-scoper` dependency that have not yet a PHP 8.1 compatible version: see explains I've provided at https://github.com/box-project/box/issues/562#issuecomment-997619923

[2021-12-22 14:07] #246 closed

[2021-12-22 14:45] llaville commented on #246
@mlocati I can confirm that v0.7.9 fixed the problem !

[2022-01-07 12:24] ruudk opened #252 "Installing extension from source doesn't work"
[code]
just selects latest stable 5.3.5.

[2022-01-07 15:46] miaotiao opened #253 "window install failed"
[code]

[2022-01-29 09:33] renepardon commented on #145
It's not possible to install "tidy" extension on MAMP like this:

[code]

I receive exactyl this error:

[code]

[2022-01-29 11:11] pierrejoye commented on #145
Please report there. It is relatively easy to convert package.xml to 2.0
and do a release then.

On Sat, Jan 29, 2022, 4:33 PM Christoph, René Pardon <
***@***.***> wrote:

[2022-02-04 19:05] akalineskou commented on #247
I use `pickle install --defaults redis@5.3.6` so that it uses the version I want and periodically check https://mlocati.github.io/pecl-info/ for new versions (uncheck compat versions to view all)

That does not answer why it does that, but it's a fix

[2022-02-11 11:43] MirazMac commented on #253
Facing the same issue

[2022-03-01 19:14] ruudk commented on #252
@mlocati Any idea what this could be?

[2022-03-15 06:54] mvorisek opened #254 "Install version by GH branch"
For development, I need other version than the tagged ones.

The doc does not mention this usecase - https://github.com/FriendsOfPHP/pickle#usage

This issue is a question. Does pickle support is, eg. does it know which GH repo to use and how to specify the wanted git branch as a version?

[2022-05-23 08:58] slushpuppy opened #256 "Pickle latest phar execution error"
Fatal error: Uncaught Error: Call to undefined function Pickle\Engine\exec() in phar:///usr/local/bin/pickle/src/Engine/PHP.php:279
Stack trace:
#0 phar:///usr/local/bin/pickle/src/Engine/PHP.php(82): Pickle\Engine\PHP->getFromConstants()
#1 phar:///usr/local/bin/pickle/src/Engine.php(51): Pickle\Engine\PHP->__construct()
#2 phar:///usr/local/bin/pickle/src/Package/Convey/Command/DefaultExecutor.p

[2022-05-23 09:01] slushpuppy commented on #256
running it as "php /usr/local/bin/pickle" works however, "/usr/local/bin/pickle" doesn't

[2022-05-23 10:03] slushpuppy commented on #256
use a development version of php.ini that allows file functions to be used

[2022-05-23 10:03] #256 closed

[2022-06-18 08:13] Ahmard commented on #165
Having same issue too, I simply ran

![Screenshot from 2022-06-18 09-11-10](https://user-images.githubusercontent.com/44737217/174429092-73e810f6-7e18-48ee-b780-87a1bbc55e80.png)

Using **v0.7.11**

[2022-06-27 10:07] fabiang commented on #254
You could checkout that branch with git into a folder and run `pickle install /tmp/checkedoutrepo`. The install commands also supports paths:

  Install a php extension
Usage:
  install [options] [--] [<path>]
Arguments:
  path                                                 Path to the PECL extension root directory (default pwd), archive or extension name [default: "/"]

[2022-06-27 10:59] #254 closed

[2022-07-22 12:01] michael-schaefer-eu commented on #247
@akalineskou that's not a fix , that's a workaround ;)

I have the same with xdebug - and it even says `installing latest-stable` :face_with_spiral_eyes:

[code]

EDIT: Nice while I was writing this, a fix has been proposed. That was fast :D

[2022-07-22 12:04] b1rdex commented on #247
@michael-schaefer-eu check https://github.com/FriendsOfPHP/pickle/pull/259 for a fix

[2022-08-25 10:48] xiaoliwang commented on #253
Facing the same issue

[2022-08-25 13:20] xiaoliwang commented on #253
PR: https://github.com/FriendsOfPHP/pickle/pull/260

[2022-08-29 11:03] yamenarahman opened #261 "php.ini is not updated after installation."
I was installing redis `pickle install redis` the installation went successfully but the extension was not auto enabled in php.ini, when I used pecl `pecl install redis` it updates the php.ini file at the top with `extension="redis.so". Am I missing something?

[2022-09-02 08:55] xiaoliwang commented on #261
Is there any errors?

[2022-09-28 12:39] s1lviu commented on #261
Same issue here, no errors output.
![image](https://user-images.githubusercontent.com/9863576/192780404-73a94115-aaff-4e44-8429-6f60b66377ad.png)

[2022-10-27 12:05] yooouuri commented on #261
Yes same here, does nothing